{% extends "/_partials/layout/_base.twig" %}

{# posila se prazdny auth block kuli codekitu#}
{% block user_autenth %}{% endblock user_autenth %}

{% block content %}

    <div class="button" drill-back="#drill-down">Back</div>
    <div class="button" drill-home="#drill-down">Home</div>

    <div id="drill-down" class="drill-down">
        <div class="drill-history"></div>

    </div>

{% endblock %}

 {% block pageScripts %}
     {% set pages = craft.entries.section('katalog') %}

     <script src="/template/js/koma-drill-down.js"></script>

     <script>

         {# build drilldown js inline config by twig #}
         /* ********************************************* */
         var drillDownData = [];
         drillDownData = [
             {% nav page in pages %}
             {
                 title: '{{ page.title }}',
                 url: '{{ page.url }}',
                 childs: [
                     {% ifchildren %}
                     {% children %}
                     {% endifchildren %}
                 ]
             },
             {% endnav %}
         ];
         /* ********************************************* */
         {# drilldown config end #}

         $(function () {

             var opt = {
                 selector: '#drill-down',
                 rootLevelName: 'Houmer'
             };

             var drill = new DrillDown(drillDownData, opt);


         });


     </script>

 {% endblock %}
