{% extends "/_partials/layout/_base.twig" %}

{# posila se prazdny auth block kuli codekitu#}
{% block user_autenth %}{% endblock user_autenth %}

{% block content %}

    <div class="button" drill-back>Back</div>

    <div drill-history></div>

    <div id="drillme" drill-down></div>


{% endblock %}

 {% block pageScripts %}
     {% set pages = craft.entries.section('katalog') %}

     <script>

         var katalog = [];
         var level = 0;
         var drillHistory = [];
         var drillHistoryRoot = $('[drill-history]');

         {# build js config #}
         /* ********************************************* */
         katalog = [
             {% nav page in pages %}
             {
                 title: '{{ page.title }}',
                 url: '{{ page.url }}',
                 childs: [
                     {% ifchildren %}
                     {% children %}
                     {% endifchildren %}
                 ]
             },
             {% endnav %}
         ];
         /* ********************************************* */

         /* functions */

         function buildLevel(childs, historyName) {
             var level = $('<div class="drl-level"></div>');

             if (drillHistory.length > 0) {
                 level.addClass('drl-hidden');
             }

             childs.forEach(function (entry, index) {
                 // console.log(entry);
                 var cel = $(
                         '<div drill-item><div drill-title><a href="' + entry.url + '">' + entry.title + '</a></div> <div drill-next> > </div> <div drill-icon><a href="' + entry.url + '"><i class="fa fa-pause"></i></a></div> </divdrill>');

                 //console.dir(entry);
                 var clickTarget = cel.find('[drill-next]');
                 //var linkTarget = cel.find('[drill-title]');
                 //var iconTarget = cel.find('[drill-icon]');

                 if (entry.childs.length > 0) {
                     cel.addClass('drl-has-childs');
                     // click on cell
                     clickTarget.on('click', function (e) {
                         buildLevel(entry.childs, entry.title);
                     });

                 }

//                 linkTarget.on('click', function (e) {
//                     console.dir(entry.title + ' ' + index + ' gotolink:' + entry.url);
//                 });
//                 iconTarget.on('click', function (e) {
//                     console.dir(entry.title + ' ' + index + ' gotolink:' + entry.url);
//                 });

                 level.append(cel);

             });


             historyAdd(level, historyName);

             $('[drill-down]').append(level);

             var myTimeout = setTimeout(function () {
                 level.removeClass('drl-hidden');
                 clearTimeout(myTimeout);
             }, 20);

         }

         function histBackLevel(levelIndex) {
             var delLoops = drillHistory.length - levelIndex;
             console.log("delloops " + delLoops);

             if (delLoops > 0) {
                 for (var i = 0; i < delLoops; i++) {
                     console.log("iter");
                     var histObj = drillHistory.pop();
                     removeLevel(histObj.element);
                 }
             }
             showHistory();
         }


         function removeLevel(level) {
             var myTimeout = setTimeout(function () {
                 level.addClass('drl-hidden');
                 clearTimeout(myTimeout);
             }, 20);
         }

         function historyAdd(level, historyName) {
             var histObj = {
                 title: historyName,
                 element: level
             };
             drillHistory.push(histObj);
             console.dir(drillHistory);
             showHistory();
         }

         function historyGoBack() {
             if (drillHistory.length > 1) {
                 var histObj = drillHistory.pop();
                 removeLevel(histObj.element);
             }
             showHistory();
         }

         function showHistory() {
             var histString = "";

             drillHistoryRoot.empty();

             drillHistory.forEach(function (entry, index) {
                 var drillElement = $('<div drill-hist-button></div>');
                 drillElement.text(entry.title);
                 drillElement.on('click', function () {
                     histBackLevel(index + 1);
                 });
                 drillHistoryRoot.append(drillElement);
                 histString = histString + " / " + entry.title;
             });
             console.log('hist: ' + histString);
         }


         $(function () {
             buildLevel(katalog, 'home');

             $('[drill-back]').each(function () {
                 $(this).on('click', historyGoBack);
             });

             $('[drill-level]').each(function () {
                 $(this).on('click', function () {
                     var goToLevel = $(this).data('drill-hist-level');
                     histBackLevel(goToLevel);
                 });
             });
         });


     </script>

 {% endblock %}
