{% set pageNav = true %}

{% extends "/_partials/layout/_base.twig" %}

{# posila se prazdny auth block kuli codekitu#}
{% block user_autenth %}{% endblock user_autenth %}

{% block content %}

    <article>

        <div class="m-section">
            <div class="row">
                <div class="small-12 column text-center">
                    <h1 class="s-hollow f-xxl" style="margin-bottom: 30px;">Vítejte v katru</h1>
                    <h2 class="f-xl">KATR – Katalog technických řešení KOMA</h2>
                </div>
            </div>
        </div>


        {# seda sekce s ikonkama #}
        <div class="bg-grey-light m-section">
            <div class="row align-center">
                <div class="columns small-5 text-center">
                    <h2 class="f-l f-800">Katalog</h2>
                    <p>
                        Procházejte standardizovaná řešení s detailními informacemi ke každé z vrstev katalogu až po koncové položky. </p>
                </div>
                <div class="columns small-5 text-center">
                    <h2 class="f-l f-800">Katalog</h2>
                    <p>
                        Procházejte standardizovaná řešení s detailními informacemi ke každé z vrstev katalogu až po koncové položky. </p>
                </div>
            </div>
        </div>


        {# taby #}

        <div class="m-tabs">

            <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i class="fa fa-random"></i> Oznámení</a></li>
                <li class="tabs-title"><a href="#panel2"><i class="fa fa-random"></i> FAQ</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">


                <div class="tabs-panel mm-pad-bottom mm-pad-top is-active" id="panel1">
                    <div class="row align-center">
                        <div class="columns small-5">
                            <h3 class="f-xl f-800">Hello</h3>
                        </div>
                        <div class="columns small-5">
                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>

                        </div>
                    </div>

                </div>

                <div class="tabs-panel mm-pad-bottom mm-pad-top" id="panel2">

                    <div class="row align-center">
                        <div class="columns small-5">
                            <h3 class="f-xl f-800">FAQ</h3>
                        </div>
                        <div class="columns small-5">
                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>

                        </div>
                    </div>


                </div>

            </div>
        </div>


    </article>


    {# sekce související #}

    <div class="m-section bg-grey-light mm-mgr-top mm-mgr-bottom-tiny">
        <div class="row">
            <div class="columns small-7 small-offset-1">


                {# tohle je stejný blok jako v pravé straně#}
                {# dát do samostatné podšablony #}
                <div class="m-block mm-bottom">
                    <h2 class="f-xl f-800">Další články v Nápověda / FAQ:</h2>
                    <ul>
                        <li><a href="">clanek</a></li>
                        <li><a href="">clanek</a></li>
                        <li><a href="">clanek</a></li>
                        <li><a href="">clanek</a></li>
                        <li><a href="">clanek</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    {# navigace další předchozí #}
    {# dát do samostatné podšablony, pokud se bude používat na více místech #}
    <div class="bg-grey-light mm-pad-top mm-pad-bottom">
        <nav class="row mm-inverted-link-colors">
            <div class="columns small-4 text-left f-800 f-l">
                <a href=""><i class="fa fa-arrow-left"></i> Předchozí</a>
            </div>

            <div class="columns small-4 text-center f-800 f-l">
                <a href=""><i class="fa fa-arrow-up"></i> FAQ</a>
            </div>

            <div class="columns small-4 text-right f-800 f-l">
                <a href=""><i class="fa fa-arrow-right"></i> Další</a>
            </div>
        </nav>
    </div>

{% endblock %}
