{% set pageNav = true %}

{% extends "/_partials/layout/_base.twig" %}

{# posila se prazdny auth block kuli codekitu#}
{% block user_autenth %}{% endblock user_autenth %}

{% block content %}


    <article>
        <header class="mm-mgr-bottom">
            <div class="row align-bottom">

                <div class="columns small-8">
                    <h1 class="xxl">Oznámení</h1>
                </div>

            </div>
        </header>
    </article>


    <div class="m-oznameni">
    {% for i in 1..8 %}
        <article class=" mm-pad-bottom-half mm-pad-top-half">
            <div class="row">
                <div class="column small-2 small-offset-1">
                    <div class="f-400 f-xs">February 01, 2016</div>
                </div>
                <div class="columns small-8">
                    <h1 class="f-400 f-m"><a href="#">Byla přidána nová skupina produktů v kategorii Okna a dveře, celkem se jedná o 15 položek.</a></h1>
                </div>
            </div>
        </article>

    {% endfor %}
    </div>


    {% include "/_partials/base/_nav-top.twig" %}


    {# navigace další předchozí #}
    {# dát do samostatné podšablony, pokud se bude používat na více místech #}
    <div class="bg-grey-light mm-pad-top mm-pad-bottom">
        <nav class="row mm-inverted-link-colors mm-link-notunderline">
            <div class="columns small-4 text-left f-800 f-l">
                <a href=""><i class="fa fa-arrow-left"></i> Starší</a>
            </div>

            <div class="columns small-4 text-center f-800 f-l">
                5 / 8
            </div>

            <div class="columns small-4 text-right f-800 f-l">
                <a href=""><i class="fa fa-arrow-right"></i> Novější</a>
            </div>
        </nav>
    </div>

{% endblock %}
