{#
 # testPage template
 # ---------------
 #
 # šablona pro ukázku sekcí, modulů
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "/_layout" %}

{% block content %}
	<h1>TEST > {{ entry.title }}{% if entry.title is not defined %}what the fuck?{% endif %}</h1>

	{{ entry.body }}

	<h2>{{ "Tuto zprávy" | translate }}</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
