<div class="m-section bg-grey-light mm-mgr-top mm-mgr-bottom-tiny hide-for-large">
    <div class="row">
        <div class="columns small-7 small-offset-1">

            <div class="m-block mm-bottom">
                <h2 class="f-xl f-800">Související články:</h2>
                {{ macros.listRelated( souvisejici ) }}
            </div>

        </div>
    </div>
</div>
