<div class="m-section bg-grey-light mm-mgr-top mm-mgr-bottom-tiny hide-for-large">
    <div class="row">
        <div class="columns small-7 small-offset-1">

            {# TODO: Michale, stejný blok jako napravo, měl by být vždy vidět ale jen jeden. na desktopu ten vpravo, na iPadu portrait jen ten dole, asi jasný, jen pro jistotu uvádím #}
            <div class="m-block mm-bottom">
                <h2 class="f-xl f-800">Související články:</h2>
                {{ macros.listRelated( souvisejici ) }}
            </div>        

        </div>
    </div>
</div>
