<section class="m-section">

    <div class="row">
        <div class="small-12 column text-center">
            <h2 class="s-hollow f-xl">Katalog technických řešení</h2>
        </div>
    </div>

    <div class="row align-center">
        {% for i in range(0, 3) %}
            <div class="columns medium-5 text-center mm-pad-bottom">
                <article>
                    <header>
                        <h3 class="f-headline f-800 f-m f-pad-m f-up">{{ i }} Výhody standardizovaných řešení</h3>
                        <p>KATR je primárně určen všem zájemcům o modulární výstavbu a zaměstnancům firmy KOMA MODULAR s.r.o.  ke snadné orientaci standardizovaných technických řešení, které jsou odzkoušené a promyšlené.</p>
                    </header>
                </article>
            </div>
        {% endfor %}
    </div>

</section>
