<section class="m-section bg-grey-light">
    <article>
        <header>
            <div class="row align-center">
                <div class="small-10 column text-center">
                    <h2 class="s-hollow f-xl">Jak se přihlásit</h2>
                </div>
            </div>
        </header>

        <div class="row align-center">
            <div class="column small-10">
                <div class="row">

                    {% for i in range(1, 3) %}
                        <div class="columns medium-4 text-center">
                            <div>
                                <img src="/assets/progress-{{ i }}.png" alt="" class="image-progress">
                            </div>
                            <p>KATR je primárně určen všem zájemcům o modulární výstavbu a zaměstnancům firmy KOMA MODULAR s.r.o. ke snadné orientaci standardizovaných technických řešení, které jsou odzkoušené a promyšlené.</p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </article>

</section>
