{% if craft.request.path == "login" %}
    {% set entry = craft.entries.section('homepage').first() %}
{% endif %}
<section class="m-section">

    <div class="row">
        <div class="small-12 column text-center">
            <h2 class="s-hollow f-xxl">{{entry.title}}</h2>
        </div>
    </div>

    <div class="row align-center">
        {% for i in entry.doplnkoveInformace %}
            <div class="columns medium-5 text-center mm-pad-bottom">
                <article>
                    <header>
                        <h3 class="f-headline f-800 f-m f-pad-m f-up">{{ i.infoTitle }}</h3>
                        {{ i.infoBody }}
                    </header>
                </article>
            </div>
        {% endfor %}
    </div>

</section>
