{% if jakSePrihlasit.infoblockTitle  %}
<section class="m-section bg-grey-light">
    <article>
        <header>
            <div class="row align-center">
                <div class="small-10 column text-center">
                    <h2 class="s-hollow f-xxl">{{jakSePrihlasit.infoblockTitle}}</h2>
                </div>
            </div>
        </header>

        <div class="row align-center">
            <div class="column small-10">
                <div class="row">
                    {% for i in jakSePrihlasit.imageInfos %}
                        <div class="columns medium-4 text-center">
                            <div>
                                <img src="{{i.infoImage.first.url}}" alt="" class="image-progress">
                            </div>
                            {{i.infoBody}}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </article>
</section>
{% endif %}
