{# TODO: michale, prosím markup k subsekcím… díky #}


<div class="row">
    <div class="columns small-12">

        <h3>Podkategorie</h3>
        <ul class="menu vertical menu-subsections">
            {% for subsection in entry.descendants(1) %}
            <li>
                <a href="{{ subsection.url }}">{{ subsection.title }}</a>
                    <span><a href="{{ subsection.url }}">šipka</a></span>
                    <span><a href="/polozky">Položky</a></span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
