$gSpacing: 100px;
$color-koma-primary: #c20e1a;
$color-koma-primary-dark: #960e19;

$color-koma-secondary: #b5bbb4;

//UI COLORS

$color-koma-ui-black: #000;
$color-koma-ui-darken: #434343;
$color-koma-ui-dark: #858585;
$color-koma-ui-mid: #b5bbb4; // coma secondary
$color-koma-ui-light: #ecf0ec;
$color-koma-ui-lighter: #f2f2f2;
$color-koma-ui-bright: #f8f8f8; //??
$color-koma-ui-white: #fff;


$space: 50px;
$space-half: 25px;
$space-tiny: 6px;



@import "base/fonts";
@import "module-foundation";

/* custom overrides */

@import "modules/mod-base";
@import "modules/mod-forms";
@import "modules/mod-header";
@import "modules/mod-footer";
@import "modules/mod-offcanvas";
@import "modules/mod-topbar";
@import "modules/mod-breadcrumbs";
@import "modules/mod-menu";
@import "modules/mod-accordion";

@import "modules/mod-info";
@import "modules/mod-schema";
@import "modules/mod-owl";

.mm-pad-top {
    padding-top: $space;
}

.mm-pad-bottom {
    padding-bottom: $space;
}

.mm-pad-half {
    padding-top: $space-half;
    padding-bottom: $space-half;
}

.mm-pad-top-half {
    padding-top: $space-half;
}
.mm-pad-bottom-half {
    padding-bottom: $space-half;
}

.mm-pad-tiny {
    padding-top: $space-tiny;
    padding-bottom: $space-tiny;
}

.mm-pad-top-tiny {
    padding-top: $space-tiny;
}

.mm-pad-bottom-tiny {
    padding-bottom: $space-tiny;
}


.mm-mgr-top {
    margin-top: $space;
}

.mm-mgr-bottom {
    margin-bottom: $space;
}

.mm-mgr-bottom-half {
    margin-bottom: $space-half;
}

.mm-mgr-bottom-tiny {
    margin-bottom: $space-tiny;
}

.mm-no-space {
    margin: 0 0;
    padding: 0 0;
}

.grow {
    flex: 2 0 0;
}

.m-section {
    padding-top: $gSpacing;
    padding-bottom: $gSpacing;
    //border-bottom: 1px solid deeppink;
}

.button {
    font-family: Purista;
    font-weight: 600;
}

.image-progress {
    width: 67px;
    margin-bottom: 50px;
}

// this need to be fixed, still troubles with offcanvas
.scroll-lock {
    overflow: hidden;
    &.touch {
        position: fixed;
    }
}
//
//.row {
//    width: 98%;
//}
//.row > .row {
//    width: auto;
//}

.m-header-image {
    position: relative;
}
.m-header-image--button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba($color-koma-ui-black, 0.5);
}

.debug {
    outline: 1px solid crimson;
}
