$gSpacing: 100px;
$color-koma-primary: #c20e1a;
$color-koma-primary-dark: #960e19;

$color-koma-secondary: #b5bbb4;

//UI COLORS

$color-koma-ui-black: #000;
$color-koma-ui-darken: #434343;
$color-koma-ui-dark: #858585;
$color-koma-ui-mid: #b5bbb4; // coma secondary
$color-koma-ui-light: #ecf0ec;
$color-koma-ui-lighter: #f2f2f2;
$color-koma-ui-bright: #f8f8f8; //??
$color-koma-ui-white: #fff;

$space: 50px;
$space-half: 25px;
$space-tiny: 6px;

@import "base/fonts";
@import "module-foundation";

/* custom overrides */

@import "modules/mod-base";
@import "modules/mod-forms";
@import "modules/mod-header";
@import "modules/mod-footer";
@import "modules/mod-offcanvas";
@import "modules/mod-topbar";
@import "modules/mod-breadcrumbs";
@import "modules/mod-menu";
@import "modules/mod-accordion";
@import "modules/mod-tabs";
@import "modules/mod-block";

@import "modules/mod-gallery";
@import "modules/mod-info";
@import "modules/mod-schema";
@import "modules/mod-owl";
@import "modules/mod-katalog";
@import "modules/mod-product-list";

@import "modules/mod-body-copy";

.grow {
    flex: 2 0 0;
}

.m-section {
    padding-top: $gSpacing;
    padding-bottom: $gSpacing;
    //border-bottom: 1px solid deeppink;
}

.button {
    font-family: Purista;
    font-weight: 600;
}

.image-progress {
    width: 67px;
    margin-bottom: 50px;
}

// this need to be fixed, still troubles with offcanvas
.scroll-lock {
    overflow: hidden;
    &.touch {
        position: fixed;
    }
}

// refactor

.m-header-image {
    position: relative;
}

.m-header-image--button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba($color-koma-ui-black, 0.5);
}

.m-header--bgimage {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

.mm-negative-offset {
    margin-top: -100px;
    background-color: white;
    padding-top: $space-half;
}

.m-souvisejici-item {
    margin-bottom: $space-half;
    font-size: 18px;
    img {
        width: 100%;
        height: auto;
    }
    a {
        color: $color-koma-ui-black;
        &:hover {
            color: $color-koma-primary;
        }
    }
}

.mm-inverted-link-colors {
    a {
        color: $color-koma-ui-darken;
        &:hover {
            color: $color-koma-primary;
        }
    }
}

.mm-link-notunderline {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

a.button {
    text-decoration: none;
}

.m-oznameni {

    article {
        border-top: 1px solid $color-koma-ui-light;
        &:last-child {
            border-bottom: 1px solid $color-koma-ui-light;
        }
    }
}


