<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koma filter</title>
    <link rel="stylesheet" href="/template/css/app.css">
</head>
<body>
<div class="m-koma-filter">


    <div ng-app="komaApp" ng-cloak>
        <div ng-controller="FormController">



            <ng-form>

                <div class="row m-koma-filter--section-content">
                    <div class="column">
                        <h2 class="f-xxl c-primary f-400">FILTER</h2>
                    </div>
                </div>

                <div class="row">
                    <div ng-repeat="section in config" class="m-koma-filter--section column small-12 bound" ng-class="{'is-closed' : section.opened === false}">

                        <div class="row m-koma-filter--section-header" ng-if="section.header" ng-click="sectionToggle(section)">
                            <div class="column small-11 align-middle">{{ section.label }}</div>
                            <div class="column small-1"><div class="m-koma-filter--section-close"></div></div>
                        </div>

                        <div class="row m-koma-filter--section-content">

                            <div ng-repeat="field in section.fields" class="column small-{{ field.style.width }} bound m-koma-filter--field" ng-class="{'is-disabled': field.isDisabled}">
                                <div class="row align-middle">

                                    <div class="column small-{{ field.style.widthLabel * 2 }} m-koma-filter--label" ng-if="field.label">
                                        {{field.label}}
                                    </div>

                                    <div class="column m-koma-filter--input">
                                        <!-- number -->
                                        <input id="{{field.id}}" type="number" ng-if="field.type == 'number'" placeholder="num" ng-model="field.value">

                                        <!-- slider -->
                                        <div ng-if="field.type == 'slider'">
                                            <rzslider rz-slider-model="field.value" rz-slider-options="field.options"></rzslider>
                                        </div>

                                        <!-- range -->
                                        <div ng-if="field.type == 'range'">
                                            <div class="m-koma-filter--range-row">
                                                <div class="m-koma-filter--range-min">{{field.min}}</div>
                                                <div class="m-koma-filter--range-slider">
                                                    <rzslider rz-slider-model="field.min" rz-slider-high="field.max" rz-slider-options="field.options"></rzslider>
                                                </div>
                                                <div class="m-koma-filter--range-max">{{field.max}}</div>
                                            </div>
                                        </div>

                                        <div ng-if="field.type == 'cloud'" class="m-koma-filter--cloud">
                                            <label ng-repeat="opt in field.options" ng-model="field.value" class="float-left" ng-class="{'is-checked': field.value.indexOf(opt.value) > -1}">
                                                <input type="checkbox" name="{{field.id}}[]" value="{{opt.value}}" ng-checked="field.value.indexOf(opt.value) > -1" ng-click="toggleSelection(opt.value, field.value)"> {{opt.label}}
                                            </label>
                                        </div>

                                        <div ng-if="field.type == 'dropdown'">
                                            <select name="{{field.id}}" ng-model="field.value">
                                                <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                                            </select>
                                        </div>

                                        <!-- global label -->
                                        <p class="help-text" ng-if="field.help">{{ field.help }}</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row m-koma-filter--section-content">
                    <div class="column mm-pad-top-half text-center">
                        <a href="{{query}}" class="button primary large">Použít filter</a>
                    </div>
                    <!--<div class="column">-->
                        <!--<button class="button secondary" ng-click="resetFilter()">Reset</button>-->
                    <!--</div>-->

                </div>

                <!--<div class="log">
                    {{ query }}
                </div>-->


            </ng-form>
        </div>

    </div>
</div>

</body>

<script src="/template/components/angular/angular.js"></script>
<script src="/template/components/jquery/dist/jquery.js"></script>
<script src="/template/components/what-input/what-input.js"></script>
<script src="/template/components/foundation-sites/dist/foundation.js"></script>
<script src="/template/js/min/app-min.js"></script>

<!-- APP -->
<!--<script src="/template/filter-config.js"></script>-->
<script src="http://koma-katalog.dev/api/filter-config"></script>

<script src="/template/app/scripts/filter.js"></script>
<script src="/template/components/angularjs-slider/dist/rzslider.js"></script>


</html>
