<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koma filtr</title>
    <link rel="stylesheet" href="/template/css/app.css">
    <link rel="stylesheet" href="/template/components/font-awesome/css/font-awesome.css">
</head>
<body>


<div ng-app="komaApp">
    <koma-filter send-label="'Použít filtr'" headline="'Filtr'" language="'cs'"></koma-filter>
</div>


</body>

<script src="/template/components/angular/angular.js"></script>
<script src="/template/components/jquery/dist/jquery.js"></script>
<script src="/template/components/what-input/what-input.js"></script>
<script src="/template/components/foundation-sites/dist/foundation.js"></script>
<script src="/template/js/min/app-min.js"></script>

<!-- APP -->
<!--<script src="/template/filter-config.js"></script>-->
<script src="http://koma-katalog.dev/api/filter-config"></script>

<script src="/template/app/scripts/filter.js"></script>
<script src="/template/components/angularjs-slider/dist/rzslider.js"></script>


</html>
