
{# Makra z toho zatím nejsou:
    twig neholduje předávání proměných z/do include a import fajlů
    zatím jsem nepřišel na to, jak to handlovat.

    Mohl bych tím sice trochu zpřehlednit kód, ale přesunout to celé do nějaké funkce nelze nebo neumím, snad později

    pozn. macro umí v twigu vrátit jen jednoduchý string
#}

{# ZJIŠTĚNÍ NAPLŇENÝCH KNIHOVEN PRO ENTRY#}

{% set techSpecifikace = {} %}
{% for category in craft.categories.group('catLibraries') %}
    {% set catGroupName = category.title %}
    {% set catGroupHandle = category.libraryHandle %}
    {% set catUnits = category.libraryUnits %}
    {% set oneSpec = craft.categories({ relatedTo: { sourceElement: entry, field:catGroupHandle }, limit: null }) %}
    {% if oneSpec|length > 0 %}

        {% set specValues = "" %}
        {% for value in oneSpec %}
            {% set specValues = specValues ~ value %}
            {% if not loop.last %}{% set specValues = specValues ~ ", " %} {% endif %}
        {% endfor %}
        {% set specValues = specValues ~ " " ~ catUnits %}
        {% set catGroup = { (catGroupName) : { "handle": catGroupHandle, "values": specValues }} %}
        {% set techSpecifikace = techSpecifikace|merge(catGroup) %}

    {# ATYPICKE PARAMETRY, KATEGORIE #}
    {# přiložení hmotnost k tabulce #}
    {% elseif catGroupHandle == "hmotnost" and entry.hmotnost %}
        {% set specValues = entry.hmotnost ~ " " ~ catUnits %}
        {% set catGroup = { (catGroupName) : { "handle": catGroupHandle, "values": specValues }} %}
        {% set techSpecifikace = techSpecifikace|merge(catGroup) %}

        {# přiložení hmotnosti na plochu do tabulky#}
    {% elseif catGroupHandle == "hmotnostNaPlochu" and entry.hmotnostNaPlochu %}
        {% set specValues = entry.hmotnostNaPlochu %}
        {% set specValues = specValues ~ " " ~ catUnits %}
        {% set catGroup = { (catGroupName) : { "handle": catGroupHandle, "values": specValues }} %}
        {% set techSpecifikace = techSpecifikace|merge(catGroup) %}

    {% endif %}

{% endfor %}

{# podmínka pro zobrazení bloku:, spustit, až to bude odladěné#}
{% if techSpecifikace|length or entry.sirka or entry.vyska or entry.hloubka %}

    <div class="mm-pad-top-half mm-pad-bottom-half mm-mgr-bottom">

        <div class="row bg-grey-light mm-pad-row">
            <div class="column">
                <div class="bg-grey-light">

                    <div class="row align-middle mm-pad-bottom-tiny">

                        <div class="medium-6 columns">
                            <h3 class="f-l f-800">{{"Technická specifikace"|t}}</h3>
                        </div>

                        <div class="medium-6 columns">
                            {# insert macro for dimensions #}
                            {% import "_partials/macros/_macros.twig" as macros %}
                            {{ macros.dimensions(entry.hloubka, entry.vnitrniVyska, entry.vyska, entry.sirka, true) }}
                        </div>

                    </div>

                    <div class="row">
                        <div class="medium-6 columns">
                            <ul class="menu vertical tech-spec">
                                {# CYKLUS PRO VÝPIS HODNOT TECH SPECS #}
                                {% set pocetpolozek = techSpecifikace|length %}
                                {% set colBreakpoint = (pocetpolozek / 2)|round %}

                                {% for groupName,spec in techSpecifikace %}

                                <li><div><span><strong>{{ groupName }}:</strong></span><span class="align-right">{{ spec.values|raw }}</span></div></li>

                                {% if loop.index == colBreakpoint %}
                            </ul>
                        </div>
                        <div class="medium-6 columns">
                            <ul class="menu vertical tech-spec">
                                {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}
