<header>
    <div class="row">

        <div class="small-12 medium-6 columns">
            <h1>{{ entry.title }}</h1>
            <div>Revize: {{ entry.dateUpdated|date("d.F Y") }}</div>
            {#{% include "/_partials/obsah/_obsah-header-meta.twig" %}#}
        </div>

        {% if entry.uvodniObrazek %}
            <div class="small-12 medium-6 columns">
                {% for i in entry.uvodniObrazek %}
                    <img src="{{ i.getUrl('headerHalfImage') }}">
                {% endfor %}
                <div class="button secondary big"><i class="fa fa-2x fa-image"></i></div>
            </div>
        {% endif %}

    </div>
</header>

{% include "/_partials/obsah/_obsah-tech-specifikace.twig" %}

<div class="row">

    <div class="small-12 large-6 columns">
        {{ entry.body }}
    </div>

    <div class="small-12 large-6 columns">
        <div class="row">

            <div class="large-12 columns">
                {% include "/_partials/obsah/_obsah-ke-stazeni.twig" %}
            </div>

            <div class="large-12 columns">
                <button class="button large">zobrazit katalog stěn</button>
            </div>

        </div>
    </div>

</div>
