{# TODO: Michale prosím, zde výpis upravit podle designu. Asi bude stačit upravit markup? #}
<div>
    <ul>
        <li><strong>Katalogové číslo:</strong> {{ entry.katalogoveCislo}}</li>
        <li><strong>Poznámka:</strong> {{ entry.poznamka }}</li>
        <li><strong>Název v Heliosu:</strong> {{ entry.originalTitle }}</li>
    </ul>
</div>
