<div class="columns small-12 large-9">
    <div class="row">
        <div class="columns small-12">
            <div class="m-body-copy"> {# tenhle wrapper sebou nese definici typografie pro detail#}

                {# obsah - text #}
                {% for block in entry.docsBody %}
                    {% if block.type == "docsBody" %}
                        {{ block.text }}
                    {% else %}
                        <figure>
                            <img src="/{{block.figureImage.first.getUrl('fullfigure')}}" alt="">
                            <figcaption><strong>{{block.figureTitle}}:</strong> {{ block.figureDescription }}</figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}

                {# obsah - text - konec #}

            </div>
        </div>
    </div>
</div>
