<div class="row">
    <div class="column">
        <div class="bg-grey-light">

            <div class="row">
                <div class="medium-6 columns">
                    technicka specifikace
                </div>
                <div class="medium-6 columns text-right">
                    meta
                </div>
            </div>

            <div class="row">
                    {# ZJIŠTĚNÍ NAPLŇENÝCH KNIHOVEN PRO ENTRY#}
                    {% set activeLibraries = {} %}
                    {% for category in craft.categories('catLibraries') %}
                        {% set catGroupName = category.getGroup.name %}
                        {% set catGroupHandle = category.getGroup.handle %}
                        {% set catGroup = { (catGroupName) : catGroupHandle } %}
                        {% if catGroupHandle not in activeLibraries %}
                            {% switch catGroupHandle %}
                                {% case "struktura" %}
                                {% case "vyrobkovarada" %}
                                {% case "zeme" %}
                                {% case "catLibraries" %}
                                {% default %}
                                    {% set activeLibraries = activeLibraries|merge(catGroup) %}
                            {% endswitch %}
                        {% endif %}
                    {% endfor %}
                

                    <div class="medium-6 columns">
                    {# VÝPIS HODNOT POUŽITÝCH SEPCS#}
                    {% set pocetpolozek = activeLibraries|length %}
                    {% set colBreakpoint = (pocetpolozek / 2)|round %}
                    {% set entrySpecs = {} %}

                    {# <h3>{{ groupName }}</h3> #}
                        {# Cyklus pro výpis všech dostupných hodnot #}
                        {# {% nav value in entry.category(groupName) %}
                            <li>{{ value }}</a></li>
                    {% endnav %} #}

                    {# CYKLUS PRO VÝPIS HODNOT POUŽITÝCH SEPCS#}
                    {% for groupName,groupHandle in activeLibraries %}

                        {% set oneSpec = craft.categories({ relatedTo: { sourceElement: entry, field:groupHandle }, limit: null }) %}

                        {% for value in oneSpec %}                        
                            {% if loop.first %}<li><strong>{{ groupName }}:</strong>&nbsp;{% endif %}
                            {{ value }}{% if not loop.last %}, {% endif %}
                            {% if loop.last %}</li>{% endif %}
                        {% endfor %}

                    {% if loop.index == colBreakpoint %}
                    </div>
                    <div class="medium-6 columns">
                    {% endif %}

                    {% endfor %}
                    </div>
                   
            </div>

        </div>
    </div>
</div>
