<div class="schema bg-grey-light mm-pad-top-half mm-pad-bottom-half">
    <div class="row">
        <div class="column small-12">
            <h2 class="f-xl f-800 mm-pad-bottom-half">{{ "Schema"|t }}</h2>
        </div>
    </div>
    <div class="row">


        {# IF OBRAZEK NA SIRKU#}
        <div>
            <div class="columns small-12">
                obrazek
            </div>
            <div class="columns small-6">
                obsah 1
            </div>
            <div class="columns small-6">
                obsah 2
            </div>
        </div>

        {# IF OBRAZEK NA vysku #}
        <div>
            <div class="columns small-6">
                obsah 1
                obsah 2
            </div>
            <div class="columns small-6">
                obrazek
            </div>
        </div>


    </div>
</div>
