<header>
    <div class="row">

        <div class="small-12 medium-6 columns">
            <h1>Header</h1>
            <div>Revize: 17. prosince 2015</div>
            {#{% include "/_partials/obsah/_obsah-header-meta.twig" %}#}
        </div>

        <div class="small-12 medium-6 columns">
            <img src="http://lorempixel.com/900/900/" alt="">
            <div style="background-color: #3c3c3c">gallery popup button</div>
        </div>

    </div>
</header>

{% include "/_partials/obsah/_obsah-tech-specifikace.twig" %}

<div class="row">

    <div class="small-12 large-6 columns">
        <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death. Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering. </p>
        <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death. Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering. </p>
    </div>

    <div class="small-12 large-6 columns">
        <div class="row">

            <div class="large-12 columns">
                {% include "/_partials/obsah/_obsah-ke-stazeni.twig" %}
            </div>

            <div class="large-12 columns">
                <button class="button large">zobrazit katalog stěn</button>
            </div>

        </div>
    </div>

</div>
