<div class="row">
    <div class="column">
        <div class="bg-grey-light">

            <div class="row">
                <div class="medium-6 columns">
                    technicka specifikace
                </div>
                <div class="medium-6 columns text-right">
                    meta
                </div>
            </div>

            <div class="row">

                {# Makra z toho zatím nejsou:
                    twig neholduje předávání proměných z/do include a import fajlů
                    zatím jsem nepřišel na to, jak to handlovat.

                    Mohl bych tím sice trochu zpřehlednit kód, ale přesunout to celé do nějaké funkce nlze nebo neumím
                #}

                {# ZJIŠTĚNÍ NAPLŇENÝCH KNIHOVEN PRO ENTRY#}
                {% set techSpecifikace = {} %}
                {% for category in craft.categories('catLibraries') %}
                    {% set catGroupName = category.getGroup.name %}
                    {% set catGroupHandle = category.getGroup.handle %}
                    {% set isFull = craft.categories({ relatedTo: { sourceElement: entry, field:catGroupHandle }, limit: null }) %}
                    {% if isFull|length > 0 %}
                        {% set catGroup = { (catGroupName) : catGroupHandle } %}
                        {% set techSpecifikace = techSpecifikace|merge(catGroup) %}
                    {% endif %}
                {% endfor %}

                {% set pocetpolozek = techSpecifikace|length %}
                {% set colBreakpoint = (pocetpolozek / 2)|round %}
                {% set entrySpecs = {} %}

                <div class="medium-6 columns">

                {# CYKLUS PRO VÝPIS HODNOT POUŽITÝCH SEPCS#}
                {% for groupName,groupHandle in techSpecifikace %}

                    {% set oneSpec = craft.categories({ relatedTo: { sourceElement: entry, field:groupHandle }, limit: null }) %}

                    {% for value in oneSpec %}                        
                        {% if loop.first %}<li><strong>{{ groupName }}:</strong>&nbsp;{% endif %}
                        {{ value }}{% if not loop.last %}, {% endif %}
                        {% if loop.last %}</li>{% endif %}
                    {% endfor %}

                {% if loop.index == colBreakpoint %}
                </div>
                <div class="medium-6 columns">
                {% endif %}

                {% endfor %}

                {# VÝPIS VŠECH MOŽNÝCH HODNOT POUŽITÝCH SEPCS#}
                
                {# <h3>{{ groupName }}</h3> #}
                    {# Cyklus pro výpis všech dostupných hodnot #}
                    {# {% nav value in entry.category(groupName) %}
                        <li>{{ value }}</a></li>
                {% endnav %} #}
                
                </div>
                   
            </div>

        </div>
    </div>
</div>
