    <div class="vzory bg-grey-light mm-pad-top-half mm-pad-bottom-half">
        <div class="row">
            <div class="column small-12">
                <h2 class="f-xl f-800 mm-pad-bottom-half">{{ "Vzory"|t }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                {# Na texty těch butonů je nějak vázanej javascript? Potřebuju je překládat: labely a jejich conetent… #}

                <div class="m-vzor">
                    <img src="" alt="">
                    <div class="">
                        label
                    </div>
                </div>

            </div>
        </div>
    </div>
