{% if entry.productPhotogallery|length > 0 %}
    <div class="fotogalerie bg-grey-light mm-pad-top-half mm-pad-bottom-half mm-mgr-bottom">
        <div class="row">
            <div class="column small-12">
                <h2 class="f-xl f-800 mm-pad-bottom-half">{{ "Fotogalerie"|t }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                {# Na texty těch butonů je nějak vázanej javascript? Potřebuju je překládat: labely a jejich conetent… #}
                <div class="owl-obsah">
                    {% for i in entry.productPhotogallery %}
                        <div>
                            <img src="/{{ i.getUrl('photoGalleryThumb') }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
