{# TODO: Lexa udělat dynamicky odkazy na fitlr#}
<div class="m-section bg-grey-light mm-mgr-bottom-tiny">
    <div class="row">
        <div class="columns small-12 mm-pad-bottom-half">
            <h3 class="f-xl f-800">KATALOG: Související položky</h3>
        </div>
    </div>

    <div class="row">
        {% for i in 1..6 %}
            <div class="columns small-6 ">

                {# zacatek elementu#}

                <div class="m-souvisejici-item bg-white">
                    <a href="">
                        {# nested grid pro obsah prvku#}
                        <div class="row align-middle">
                            <div class="columns small-3">
                                <img src="http://lorempixel.com/300/200/" alt="">
                            </div>
                            <div class="columns small-7">
                                <h3 class="f-400 f-xl">Název odkazu na filtr</h3>
                            </div>
                            <div class="columns small-2 text-center">&rarr;</div>
                        </div>
                        {#konec nest gridu#}
                    </a>
                </div>

                {# konec elementu#}

            </div>
        {% endfor %}
    </div>

</div>
