<div class="m-info">
    <div class="row">
        {% for i in entry.doplnkoveInformace %}
        <div class="column small-12 large-12">
            <div class="row m-info--panel">
                {% if i.infoImage|length > 0 %}
                <div class="small-12 large-6 small-order-2 large-order-1 column">
                    {% for im in i.infoImage %}
                    <img src="{{ im.getUrl('otherInfoImage') }}">
                    {% endfor %}
                </div>
                {% endif %}
                <div class="small-12 large-6 small-order-1 large-order-2 column">
                    <h2>{{i.infoTitle}}</h2>
                    {{i.infoBody}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
