{# seda sekce s ikonkama #}
<div class="bg-grey-light mm-pad-top-half mm-pad-bottom-half ">

    <div class="row align-center">
        {% for short in entry.shortInfo %}
        <div class="columns small-5 text-center" style="{% if loop.first %}border-right: 1px solid black; {% endif %}padding: 20px 40px">
            <h2 class="f-l f-800 mm-mgr-bottom-half"><i class="{{short.infoIcon}} fa-2x fa-inline"></i>{{short.infoTitle}}</h2>
            {{ short.infoBody}}
        </div>
        {% endfor %}
    </div>

</div>
