{# seda sekce s ikonkama #}
<div class="bg-grey-light m-section">
    <div class="row align-center">
        <div class="columns small-5 text-center">
            <h2 class="f-l f-800">Využijte Off Canvas Menu</h2>
            <p>Kompletní nabídku a aktuálně přístupné části katalogu naleznete po rozbalení tzv. OffCanvas menu po levé straně. To plní v katalogu roli hlavní nabídky.</p>
        </div>
        <div class="columns small-5 text-center">
            <h2 class="f-l f-800">Nápověda</h2>
            <p>Připravujeme pro vás také co nejucelenější dokumentaci ke katalogu, která je přístupná z hlavní nabídky.</p>
        </div>
    </div>
</div>
