{% block user_autenth %}
    {% if siteUrl != craft.request.getUrl %}
        {# {% if not currentUser %}{% redirect "maintenance" 301%}{% endif %} #}
        {% requireLogin %}
    {% else %}

    {% endif %}
{% endblock user_autenth %}

<!doctype html >
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/template/assets/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/template/assets/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/template/assets/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/template/assets/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/template/assets/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/template/assets/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/template/assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/template/assets/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="KATALOG Technických řešení KOMA"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/template/assets/mstile-144x144.png" />

    <script src="/template/components/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="/template/components/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/template/components/owl-carousel/owl-carousel/owl.theme.css">

    <link rel="stylesheet" href="/template/components/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" href="/template/components/photoswipe/dist/default-skin/default-skin.css">

    <link rel="stylesheet" href="/template/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/template/css/app.css">
</head>
<body>


<div class="off-canvas-wrapper">
    <!-- off-canvas left menu -->

    {% include "/_partials/base/_offcanvas-left.twig" %}

    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        {# blok pro topbary + breadcrumbs etc #}
        {% block bars %}
            {% if currentUser %}
                {% include "/_partials/base/_top-bar.twig" %}
            {% endif %}
        {% endblock %}

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>

            {# html wrapper pro katalog#}
            <div class="drill-reveal" id="katalogModal">
                <div class="drill-wrapper">
                    <div id="drill-down" class="drill-down">
                        <div class="drill-controls">
                            <div class="drill-back-button" drill-back="#drill-down">
                                <span class="drill-back-arrow"></span><span class="button">{{ "Zpět"|t }}</span></div>
                            <div class="drill-history"></div>
                        </div>
                    </div>
                    <button class="close-button close-katalog" aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            {# konec wrapperu pro katalog #}

            {# html wrapper pro filter#}
            <div class="drill-reveal" id="filterModal">
                <div class="drill-wrapper">
                    <div ng-app="komaApp">
                        <koma-filter send-label="'Použít filter'" headline="'Filter'" language="'cs'"></koma-filter>
                    </div>
                    <button class="close-button close-katalog" aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {# konec wrapperu pro filter #}

            {% block content %}{% endblock %}

            {% include "/_partials/base/_footer.twig" %}




        </div>
        <!-- close wrapper, no more content after this -->

    </div>
</div>
<script src="/template/components/angular/angular.js"></script>
<script src="/template/components/jquery/dist/jquery.js"></script>
<script src="/template/components/what-input/what-input.js"></script>
<script src="/template/components/foundation-sites/dist/foundation.js"></script>
<script src="/template/components/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="/template/components/photoswipe/dist/photoswipe.min.js"></script>
<script src="/template/components/photoswipe/dist/photoswipe-ui-default.min.js"></script>
<script src="/template/js/koma-drill-down.js"></script>
<script src="http://koma-katalog.dev/api/filter-config"></script>
<script src="/template/app/scripts/filter.js"></script>
<script src="/template/components/angularjs-slider/dist/rzslider.js"></script>

<script>

    // offcanvas
    $(document)
            .on('opened.zf.offcanvas', '[data-off-canvas]', function () {
                $('html').addClass('scroll-lock');
            })
            .on('closed.zf.offcanvas', '[data-off-canvas]', function () {
                $('html').removeClass('scroll-lock');
            });

    function updateFullscreenElements() {
        $("[mod-screen-height]").each(function (index) {
            var el = $(this);
            el.css('height', $(window).height());
        });
    }

    ///// PSWP

    function parseGallery(selector) {
        var items = [];
        var gRoot = $(selector);
        var domItems = gRoot.find('.m-gallery--item');

        domItems.each(function () {
            var el = $(this);
            var item = {};
            item.src = el.data("gallery-src");
            item.w = el.data("gallery-w");
            item.h = el.data("gallery-h");
            item.thumb = el.data("gallery-thumb");
            item.title = el.data("gallery-title");
            item.description = el.data("gallery-description");
            items.push(item);

            el.data("gallery-index", items.length - 1);
        });

        domItems.each(function () {
            var el = $(this);
            el.on("click", function (e) {
                openSubgallery(items, el.data("gallery-index"));
            });
        });
        return items;
    }


    function openSubgallery(items, index) {

        var options = {
            // history & focus options are disabled on CodePen
            history: false,
            focus: false,
            showAnimationDuration: 0,
            hideAnimationDuration: 0

        };
        var pswp = document.querySelectorAll('.pswp')[0];
        options.index = index;
        var gallery = new PhotoSwipe(pswp, PhotoSwipeUI_Default, items, options);
        gallery.init();
    }

    /// PSWP end

    $(function () {
        console.log("ready!");
        updateFullscreenElements();

        $(window).on('resize', function () {
            updateFullscreenElements();
        });

        // owl

        $(".owl-obsah-owl").owlCarousel({
            itemsCustom: [
                [0, 1],
                [700, 3]
            ],
            navigation: false
            //autoPlay: 3000 //Set AutoPlay to 3 seconds
        });

        var owl = $(".owl-obsah-owl").data('owlCarousel');

        // Custom Navigation Events
        $(".next").click(function () {
            owl.next();
        })
        $(".prev").click(function () {
            owl.prev();
        })

        // init PSWP
        var firstgallery = null;
        var galleryCounter = 0;

        $('[gallery]').each(function () {
            $gal = $(this);
            //console.log($gal.attr('id'));
            var cGalleryItems = parseGallery("#" + $gal.attr('id'));
            galleryCounter++;

            // pokud je prvni galerie tak namapuj open-first na tuhle galerii
            if(galleryCounter == 1) {
                firstgallery = cGalleryItems;
                $('[gallery-open-first]').on('click', function(event) {
                    event.preventDefault();
                    openSubgallery(firstgallery, 0);
                });
            }
        });

        // smooth scroll na začátek body

        $('[scroll-top]').click(function (e) {
            e.preventDefault();
            var tgt = $("body");
            $('html, body').animate({
                scrollTop: tgt.offset().top
            }, 400);
        });


        // smooth scroll k #top-offset
        $('[scroll-top-offset]').click(function (e) {
            e.preventDefault();
            var tgt = $("#top-offset");
            $('html, body').animate({
                scrollTop: tgt.offset().top
            }, 400);
        });

        // closables
        $('[closable]').each(function () {
            var el = $(this);

            el.on('click', function (e) {
                e.preventDefault();
                el.toggleClass("mm-closed");
            });

        });

        var targetDrill = null;
        // otevirani modalu katalogu pres ID v menu
        $(".katalogmenu").on('click', function (e) {

            e.preventDefault();
            targetDrill = $('#katalogModal');
            targetDrill.height($(window).innerHeight()).fadeIn(100);

            $(document).keyup(function (e) {
                if (e.keyCode == 13) $('.save').click();     // enter
                if (e.keyCode == 27) $('.cancel').click();   // esc
            });

            $(document).on('keyup', function (event) {
                $(document).off('keyup');
                e.preventDefault();
                $('.drill-reveal').fadeOut(100);
                $('html').removeClass('scroll-lock');
                targetDrill = null;
            });

            $('html').addClass('scroll-lock');

        });

        $(".filtermenu").on('click', function (e) {

            e.preventDefault();
            targetDrill = $('#filterModal');
            targetDrill.height($(window).innerHeight()).fadeIn(100);

            $(document).keyup(function (e) {
                if (e.keyCode == 13) $('.save').click();     // enter
                if (e.keyCode == 27) $('.cancel').click();   // esc
            });

            $(document).on('keyup', function (event) {
                $(document).off('keyup');
                e.preventDefault();
                $('.drill-reveal').fadeOut(100);
                $('html').removeClass('scroll-lock');
                targetDrill = null;
            });

            $('html').addClass('scroll-lock');

        });

        $(".close-katalog").each(function () {
            var el = $(this);
            $(document).off('keyup');
            targetDrill= null;
            el.on('click', function (e) {
                e.preventDefault();
                $('.drill-reveal').fadeOut(100);
                $('html').removeClass('scroll-lock');
            });
        });


    });

    {% block scriptsBottom %}{% endblock %}
</script>

{% block pageScripts %}{% endblock %}

{# nalinkovat data katalogu do každé stránky, pokud je user zalogován #}
{% if currentUser %}
    {% include "/_partials/base/_katalog.twig" %}
    {% include "/_partials/base/_filter.twig" %}
{% endif %}

{# pswipe data #}
{% include "/_partials/base/pswp.twig" %}


{# pouštět foundation až uplně nakonec, jinak se to pokaka #}
<script src="/template/js/min/app-min.js"></script>
</body>
</html>
