{#
 # Položky listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}



{% block content %}
	{# nastavení numerických hodnot#}
	{% set numericFields = ['sirka', 'vyska', 'hloubka', 'vnitrniVyska', 'hmotnost', 'hmotnostNaPlochu'] %}
	{# analýza queryny #}
	{% set filterCat = [] %}
	{% set search = "" %}
	{% set sirkaq = [] %}
	{% set vyskaq = [] %}
	{% set hloubkaq = [] %}
	{% set vnitrniVyskaq = [] %}
	{% set hmotnostq = [] %}
	{% set hmotnostNaPlochuq = [] %}

	{# NOTE: když není žádný parametr, ve filtru nesmí být ani operátor
	{% set filterCat = ['and'] %} #}
	{% for catHandle in craft.categories.group('catLibraries') %} {# v cyklu projížím všechyn známe knihovny a hledám, zda je danýparametr v queryně #}

		{% if catHandle.libraryHandle in numericFields %}
			{% switch catHandle.libraryHandle %}
				{% case 'sirka' %}
					{% set minparameter = craft.request.getParam('sirka-min') ? craft.request.getParam('sirka-min') : "" %}
					{% set maxparameter = craft.request.getParam('sirka-max') ? craft.request.getParam('sirka-max') : "" %}
					{% if minparameter or maxparameter %}
						{% set sirkaq = ['and'] %}
						{% set sirkaq = minparameter ? sirkaq|merge([">= " ~ minparameter]) %}
						{% set sirkaq = maxparameter ? sirkaq|merge(["<= " ~ maxparameter]) %}
					{% endif %}
				{% case 'vyska' %}
					{% set minparameter = craft.request.getParam('vyska-min') ? craft.request.getParam('vyska-min') : "" %}
					{% set maxparameter = craft.request.getParam('vyska-max') ? craft.request.getParam('vyska-max') : "" %}
					{% if minparameter or maxparameter %}
						{% set vyskaq = ['and'] %}
						{% set vyskaq = minparameter ? vyskaq|merge([">= " ~ minparameter]) %}
						{% set vyskaq = maxparameter ? vyskaq|merge(["<= " ~ maxparameter]) %}
					{% endif %}
				{% case 'hloubka' %}
					{% set minparameter = craft.request.getParam('hloubka-min') ? craft.request.getParam('hloubka-min') : "" %}
					{% set maxparameter = craft.request.getParam('hloubka-max') ? craft.request.getParam('hloubka-max') : "" %}
					{% if minparameter or maxparameter %}
						{% set hloubkaq = ['and'] %}
						{% set hloubkaq = minparameter ? hloubkaq|merge([">= " ~ minparameter]) %}
						{% set hloubkaq = maxparameter ? hloubkaq|merge(["<= " ~ maxparameter]) %}
					{% endif %}
				{% case 'vnitrniVyska' %}
					{% set minparameter = craft.request.getParam('vnitrniVyska-min') ? craft.request.getParam('vnitrniVyska-min') : "" %}
					{% set maxparameter = craft.request.getParam('vnitrniVyska-max') ? craft.request.getParam('vnitrniVyska-max') : "" %}
					{% if minparameter or maxparameter %}
						{% set vnitrniVyskaq = ['and'] %}
						{% set vnitrniVyskaq = minparameter ? vnitrniVyskaq|merge([">= " ~ minparameter]) %}
						{% set vnitrniVyskaq = maxparameter ? vnitrniVyskaq|merge(["<= " ~ maxparameter]) %}
					{% endif %}
				{% case 'hmotnost' %}
					{% set minparameter = craft.request.getParam('hmotnost-min') ? craft.request.getParam('hmotnost-min') : "" %}
					{% set maxparameter = craft.request.getParam('hmotnost-max') ? craft.request.getParam('hmotnost-max') : "" %}
					{% if minparameter or maxparameter %}
						{% set hmotnostq = ['and'] %}
						{% set hmotnostq = minparameter ? hmotnostq|merge([">= " ~ minparameter]) %}
						{% set hmotnostq = maxparameter ? hmotnostq|merge(["<= " ~ maxparameter]) %}
					{% endif %}
				{% case 'hmotnostNaPlochu' %}
					{% set minparameter = craft.request.getParam('hmotnostNaPlochu-min') ? craft.request.getParam('hmotnostNaPlochu-min') : "" %}
					{% set maxparameter = craft.request.getParam('hmotnostNaPlochu-max') ? craft.request.getParam('hmotnostNaPlochu-max') : "" %}
					{% if minparameter or maxparameter %}
						{% set hmotnostNaPlochuq = ['and'] %}
						{% set hmotnostNaPlochuq = minparameter ? hmotnostNaPlochuq|merge([">= " ~ minparameter]) %}
						{% set hmotnostNaPlochuq = maxparameter ? hmotnostNaPlochuq|merge(["<= " ~ maxparameter]) %}
					{% endif %}
				{% default %}
			{% endswitch %}
		{% else %}
			{% set parameter = craft.request.getParam(catHandle.libraryHandle) ? craft.request.getParam(catHandle.libraryHandle) : "" %}
		{% endif %}

		{% if parameter is iterable %} {# parsing parametrů v poli #}
			{% set partialsearch = "" %}
			{% for onepiece in parameter %}
				{% set partialsearch = partialsearch ~ onepiece %}
				{% if not loop.last %}{% set partialsearch = partialsearch ~ " OR " %}{% endif %}
			{% endfor %}
			{% set search = search != "" ? search ~ " " ~ catHandle.libraryHandle ~ ":" ~ partialsearch : catHandle.libraryHandle ~ ":" ~ partialsearch %}

		{% elseif parameter != "" %} {# sestavení filtru kategorií s jednou ozančením #}
			{% if filterCat == [] %}{% set filterCat = ['and'] %}{% endif %}
			{% set cat = craft.categories.group(catHandle.libraryHandle).title(parameter) %}
			{% set filterCat = filterCat|merge(cat) %}
		{% endif %}
	{% endfor %}

	{{dump(sirkaq)}}

	{% set polozky = craft.entries({
		    section: 'polozky',
			sirka: sirkaq,
			vyska: vyskaq,
			hloubka: hloubkaq,
			vnitrniVyska: vnitrniVyskaq,
			hmotnost: hmotnostq,
			hmotnostNaPlochu: hmotnostNaPlochuq,
			relatedTo: filterCat,
			search: search,
			order: 'katalogoveCislo',
			limit: 25,
			with: [
				['uvodniObrazek', {
				        withTransforms: ['thumb']
				        }]
				]
	}) %}

	{% paginate polozky as pageInfo, pageEntries %}

	{# {% import "/_partials/macros/_macros.twig" as macros %} #}

	<div class="m-product-list">

	{% for entry in pageEntries %}

	{# getting the cats and tags and stuff… #}
	{% set highSpecs = {} %}
	{% set lowSpecs = {} %}
	{% if entry.catalogueStruct.first ==  "Rámy" %}
	    {% set structureHandle = entry.catalogueStruct.first %}
	{% else %}
	    {% set structureHandle = entry.catalogueStruct.last %}
	{% endif %}
	{# získání zvýrazněných taxonomií pro danou položku #}
	{% set priorityCats = structureHandle.zvyrazneneKat %}
	{# získání ostatních taxonomií pro danou položku #}
	{% set cats = structureHandle.ostatniKat %}

	{% include "/_partials/common/_product-card.twig" %}

	{% else %}
		<article>
			<div class="m-section">
				<div class="row">
					<div class="small-12 column">
						<h1>Je nám líto,</h1>
						<p>ale tomuto nastavení neodpovídají žádné položky. Změňte nastavení filtru a zkuste to znovu, případně si vypiště <a href="/polozky">všechny položky v katalogu.</a></p>
					</div>
				</div>
			</div>
		</article>
	{% endfor %}

	</div>

	{# nahoru #}
	{% include "/_partials/base/_nav-top.twig" %}

	{# paginace #}
	{% set prev = "" %}
    {% set prevtitle = "Předchozí strana" %}
    {% set up = "" %}
	{% set uptitle = "Archiv položek" %}
    {% set parentMessage = pageInfo.currentPage ~ " / " ~ pageInfo.totalPages %}
	{% set uptype = "paging" %}
    {% set next = "" %}
    {% set nexttitle = "Další strana" %}

	{% set varsbottom = {
        "navPosition": "bottom",
        "prevlink": pageInfo.prevUrl,
        "prevtitle": prevtitle,
        "uplink": up,
        "uptitle": uptitle,
		"parentMessage": parentMessage,
		"parentType": uptype,
        "nextlink": pageInfo.nextUrl,
        "nexttitle": nexttitle
    } %}

	{% if pageInfo.prevUrl or pageInfo.nextUrl %}
	<div class="bg-grey-light mm-pad-top mm-pad-bottom mm-mgr-bottom-tiny">
        {% include '/_partials/common/_prevnext-nav.twig' with varsbottom %}
    </div>
	{% endif %}

	{# upozornění #}
	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
