{#
 # Položky listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

	{% set entries = craft.entries.section('polozky') %}

	{% import "_partials/macros/_macros.twig" as macros %}

	<div class="m-product-list">

	{% for entry in entries %}

	{# getting the cats and tags and stuff… #}
	{% set highSpecs = {} %}
	{% set lowSpecs = {} %}
	{% set structureHandle = entry.catalogueStruct.last %}
	{# získání zvýrazněných taxonomií pro danou položku #}
	{% set priorityCats = structureHandle.zvyrazneneKat %}
	{# získání ostatních taxonomií pro danou položku #}
	{% set cats = structureHandle.ostatniKat %}

	{% include "_partials/common/_product-card.twig" %}

	{% else %}
		<span>Tady nejsou žádné položky!</span>
	{% endfor %}

	</div>

	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
