{#
 # Položky listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}



{% block content %}

	{# analýza queryny #}
	{% set cat = craft.categories.title(craft.request.getParam('cat')) %}
	{% set cat = craft.categories.title(craft.request.getParam('struktura')) %}
	{% set material = craft.request.getParam('material') %}

	{# dotaz/nastavení bez paginace #}
	{# {% set entries = craft.entries.section('polozky').order('katalogoveCislo') %} #}

	{# původní dotaz
	{% paginate craft.entries.section('polozky').relatedTo(cat).order('katalogoveCislo').limit(25) as pageInfo, pageEntries %} #}

	{% set polozky = craft.entries({
		    section: 'polozky',
			relatedTo: cat,
			order: 'katalogoveCislo',
			limit: 25,
			with: ['uvodniObrazek']
	}) %}

	{% paginate polozky as pageInfo, pageEntries %}

	{# {% import "/_partials/macros/_macros.twig" as macros %} #}

	<div class="m-product-list">

	{% for entry in pageEntries %}

	{# getting the cats and tags and stuff… #}
	{% set highSpecs = {} %}
	{% set lowSpecs = {} %}
	{% if entry.catalogueStruct.first ==  "Rámy" %}
	    {% set structureHandle = entry.catalogueStruct.first %}
	{% else %}
	    {% set structureHandle = entry.catalogueStruct.last %}
	{% endif %}
	{# získání zvýrazněných taxonomií pro danou položku #}
	{% set priorityCats = structureHandle.zvyrazneneKat %}
	{# získání ostatních taxonomií pro danou položku #}
	{% set cats = structureHandle.ostatniKat %}

	{% include "/_partials/common/_product-card.twig" %}

	{% else %}
		<article>
			<div class="m-section">
				<div class="row">
					<div class="small-12 column">
						<h1>Je nám líto,</h1>
						<p>ale tomuto nastavení neodpovídají žádné položky. Změňte nastavení filtru a zkuste to znovu, případně si vypiště <a href="/polozky">všechny položky v katalogu.</a></p>
					</div>
				</div>
			</div>
		</article>
	{% endfor %}

	</div>

	{# nahoru #}
	{% include "/_partials/base/_nav-top.twig" %}

	{# paginace #}
	{% set prev = "" %}
    {% set prevtitle = "Předchozí strana" %}
    {% set up = "" %}
	{% set uptitle = "Archiv položek" %}
    {% set parentMessage = pageInfo.currentPage ~ " / " ~ pageInfo.totalPages %}
	{% set uptype = "paging" %}
    {% set next = "" %}
    {% set nexttitle = "Další strana" %}

	{% set varsbottom = {
        "navPosition": "bottom",
        "prevlink": pageInfo.prevUrl,
        "prevtitle": prevtitle,
        "uplink": up,
        "uptitle": uptitle,
		"parentMessage": parentMessage,
		"parentType": uptype,
        "nextlink": pageInfo.nextUrl,
        "nexttitle": nexttitle
    } %}

	{% if pageInfo.prevUrl or pageInfo.nextUrl %}
	<div class="bg-grey-light mm-pad-top mm-pad-bottom mm-mgr-bottom-tiny">
        {% include '/_partials/common/_prevnext-nav.twig' with varsbottom %}
    </div>
	{% endif %}

	{# upozornění #}
	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
