{#
 # Položky listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

	{% cache for 1 hour %}


	{# nastavení bez paginace
		{% set entries = craft.entries.section('polozky').order('katalogoveCislo') %}
	#}
	{% paginate craft.entries.section('polozky').order('katalogoveCislo').limit(25) as pageInfo, pageEntries %}

	{% import "/_partials/macros/_macros.twig" as macros %}

	<div class="m-product-list">

	{% for entry in pageEntries %}

	{# getting the cats and tags and stuff… #}
	{% set highSpecs = {} %}
	{% set lowSpecs = {} %}
	{% set structureHandle = entry.catalogueStruct.last %}
	{# získání zvýrazněných taxonomií pro danou položku #}
	{% set priorityCats = structureHandle.zvyrazneneKat %}
	{# získání ostatních taxonomií pro danou položku #}
	{% set cats = structureHandle.ostatniKat %}

	{% include "/_partials/common/_product-card.twig" %}

	{% else %}
		<span>Tady nejsou žádné položky!</span>
	{% endfor %}

	</div>

	{# nahoru #}
	{% include "/_partials/base/_nav-top.twig" %}

	{# paginace #}
	{% set prev = "" %}
    {% set prevtitle = "Předchozí strana" %}
    {% set up = "" %}
	{% set uptitle = "Archiv položek" %}
    {% set parentMessage = pageInfo.currentPage ~ " / " ~ pageInfo.totalPages %}
	{% set uptype = "paging" %}
    {% set next = "" %}
    {% set nexttitle = "Další strana" %}

	{% set varsbottom = {
        "navPosition": "bottom",
        "prevlink": pageInfo.prevUrl,
        "prevtitle": prevtitle,
        "uplink": up,
        "uptitle": uptitle,
		"parentMessage": parentMessage,
		"parentType": uptype,
        "nextlink": pageInfo.nextUrl,
        "nexttitle": nexttitle
    } %}

	{% if pageInfo.prevUrl or pageInfo.nextUrl %}
	<div class="bg-grey-light mm-pad-top mm-pad-bottom mm-mgr-bottom-tiny">
        {% include '/_partials/common/_prevnext-nav.twig' with varsbottom %}
    </div>
	{% endif %}

	{# upozornění #}
	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

	{% endcache %}

{% endblock %}
