

<div class="m-koma-filter" ng-cloak>
    <div class="row">
        <div class="m-koma-filter--section column small-12 bound">
            <div class="m-koma-filter--section-header mm-inline ">
                <h2 class="f-xl c-primary f-400">{{headline}}</h2><div ng-click="testResult()" class="m-koma-filter--results-label">{{queryItemsLabeled}}</div>
            </div>
        </div>
    </div>

    <ng-form>
        <div class="row">

            <div ng-repeat="section in config" class="m-koma-filter--section column small-12 bound" ng-class="{'is-closed' : section.opened === false}">

                <div class="row m-koma-filter--section-header" ng-if="section.header" ng-click="sectionToggle(section)">
                    <div class="column small-11 align-middle">{{ section.label }}</div>
                    <div class="column small-1">
                        <div class="m-koma-filter--section-close"></div>
                    </div>
                </div>

                <div class="row m-koma-filter--section-content">

                    <div ng-repeat="field in section.fields" class="column small-{{ field.style.width }} bound m-koma-filter--field" ng-class="{'is-disabled': field.isDisabled === true}">
                        <div class="row align-middle">

                            <div class="column small-{{ field.style.widthLabel * 2 }} m-koma-filter--label" ng-if="field.label">
                                {{field.label}}
                            </div>

                            <div class="column m-koma-filter--input">
                                <!-- number -->
                                <input id="{{field.id}}" type="number" ng-if="field.type == 'number'" placeholder="num" ng-model="field.value">

                                <!-- slider -->
                                <div ng-if="field.type == 'slider'">
                                    <rzslider rz-slider-model="field.value" rz-slider-options="field.options"></rzslider>
                                </div>


                                <!-- range -->
                                <div ng-if="field.type == 'range'">
                                    <div class="m-koma-filter--range-row">
                                        <div class="m-koma-filter--range-min">{{field.min}}</div>
                                        <div class="m-koma-filter--range-slider">
                                            <rzslider rz-slider-model="field.min" rz-slider-high="field.max" rz-slider-options="field.options"></rzslider>
                                        </div>
                                        <div class="m-koma-filter--range-max">{{field.max}}</div>
                                    </div>
                                </div>

                                <div ng-if="field.type == 'cloud'" class="m-koma-filter--cloud">
                                    <label ng-repeat="opt in field.options" ng-model="field.value" class="float-left" ng-class="{'is-checked': field.value.indexOf(opt.value) > -1}">
                                        <input type="checkbox" name="{{field.id}}[]" value="{{opt.value}}" ng-checked="field.value.indexOf(opt.value) > -1" ng-click="toggleSelection(opt.value, field.value)"> {{opt.label}}
                                    </label>
                                </div>

                                <div ng-if="field.type == 'dropdown'">
                                    <select name="{{field.id}}" ng-model="field.value">
                                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                                    </select>
                                </div>

                                <!-- global label -->
                                <p class="help-text" ng-if="field.help">{{ field.help }}</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row m-koma-filter--section-content">
            <div class="column mm-pad-top-half text-center">
                <a href="{{queryUrl}}{{query}}" class="button primary large"><i class="fa fa-paper-plane"></i> {{sendLabel}}</a>
            </div>
        </div>
    </ng-form>

</div>
