<div style="background-image: url(/template/assets/metal-construction-profiles-01.jpg)" class="m-header" mod-screen-height>

    <div class="row align-middle mm-pad-top">
        <div class="columns small-5 small-offset-1">
            <img src="/template/assets/logo-koma-modular.svg" alt="">
        </div>
    </div>

    {#headline#}
    <div class="row align-center">
        <div class="small-8 columns text-center">
            <h1 class="f-xl">Zde pro vás připravujeme<br/>Katalog technických řešení – KATALOG</h1>
        </div>
    </div>


    <div class="m-header-anchors">
        <div class="m-item">Další informace</div>
        <div class="m-item mm-button" scroll-top-offset><img src="/template/assets/circle-button-down.png" alt=""></div>
        <div class="m-item">Žádost o registraci</div>
    </div>

</div>
<a id="top-offset"></a>
