<div style="background-image: url(/template/assets/metal-construction-profiles-01.jpg)" class="m-header" mod-screen-height>

    <div class="row align-middle mm-pad-top">
        <div class="columns small-5 small-offset-1">
            <img src="/template/assets/logo-koma-modular.svg" alt="">
        </div>
        <div class="columns small-5 small-pull-2 text-right">
            <a href="">Language <i class="fa fa-2x fa-angle-down" style="vertical-align: middle;"></i></a>
        </div>
    </div>

    {#headline#}
    <div class="row align-center">
        <div class="small-8 columns text-center">
            <h1>Katalog technických řešení</h1>
        </div>
    </div>


    {# form #}
    <form action="">
        <div class="row align-center">
            <div class="small-10 medium-6 large-4 columns">
                <input type="text" placeholder="Uživatelské jméno" required>
            </div>
        </div>

        <div class="row align-center">
            <div class="small-10 medium-6 large-4 columns">
                <input type="password" placeholder="Heslo" required>
            </div>
        </div>
        {# souhlas #}
        <div class="row align-center align-middle mm-pad-bottom-half">
            <fieldset class="small-10 medium-6 large-4 columns text-center">
                <input type="checkbox" name="remember" value="remember" id="rememeber" required><label for="rememeber" style="vertical-align: top">Zapamatovat přihlášení</label>
            </fieldset>
        </div>

        {# submit #}
        <div class="row align-center">
            <div class="small-4 columns text-center">
                <button class="large button">Vstoupit</button>
            </div>
        </div>
    </form>

    <div class="m-header-anchors">
        <div class="m-item">Další informace</div>
        <div class="m-item mm-button"><img src="/template/assets/circle-button-down.png" alt=""></div>
        <div class="m-item">Žádost o registraci</div>
    </div>

</div>
