{#
 # DOKUMENTACE listing
 # -------------------
 #
 # Šablona vypisuje strukturu dokumentace
 #
 # dost možná nebude vůbec potřeba, protože tato data se budou načítat do modalu
 #
  #
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

    {# {% include '/_partials/base/_top-breadcrumbs.twig' with {'class': 'mm-over'} %} #}

    {% set pages = craft.entries.section('dokumentace') %}

    <article class="">
        <header class="mm-mgr-bottom mm-pad-top ">
            <div class="row align-bottom">

                <div class="columns small-8">
                    <h1 class="f-xxxl">Dokumentace</h1>
                </div>

            </div>
        </header>





        <div class="row align-center">
            <div class="small-8 columns">

                <h2 class="f-xl f-800 mm-mgr-bottom">Témata nápovědy</h2>


                <nav class="m-dokumentace">
                    <ul>
                        {% nav page in pages %}
                        <li>
                            {% if page.docsBody %}
                                {{ page.getLink() }}{% if page.forEditors and currentUser.groups != "users" %}*{% endif %}
                            {% else %}
                                {{ page.title }}{% if page.forEditors and currentUser.groups != "users" %}*{% endif %}
                            {% endif %}

                            {% ifchildren %}
                            <ul>
                                {% children %}
                            </ul>
                            {% endifchildren %}
                        </li>
                        {% endnav %}
                    </ul>
                </nav>
            </div>
        </div>

    </article>




    {% include "/_partials/base/_nav-top.twig" %}
    {% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
