{#
 # KATALOG listing
 # ---------------
 #
 # Šablona vypisuje strukturu katalogu
 #
 # dost možná nebude vůbec potřeba, protože tato data se budou načítat do modalu
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

    {# {% include '/_partials/base/_top-breadcrumbs.twig' with {'class': 'mm-over'} %} #}

    {% set pages = craft.entries.section('katalog') %}

    {# TODO: Michale, nějak zawrapovat ať to není takhle zcuklé, ale vypadá to jako stránka, prosím #}
    <p><a data-open="katalogModal">Procházet strukturu KATALOGu</a></p>

    {% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
