.off-canvas {

    * {
        outline: none;
        color: $color-koma-ui-dark;
    }

    border-right: 1px solid darken($color-koma-ui-darken, 3%);

    a {
        &:hover {
            color: white;
            .fa {
                color: white;
            }
        }
    }

    &.position-left {
        position: fixed;
        overflow: hidden;
        z-index: 10;
        top: 0;
        bottom: 0;
        transform: translateX(0);
        transition: transform $offcanvas-transition-length $offcanvas-transition-timing;
        &.is-open {
            transform: translateX($offcanvas-size);
            transition: transform $offcanvas-transition-length $offcanvas-transition-timing;
        }

        //fix flex rows
        .row {
            width: 100%;
        }
        .row .row {
            width: auto;
        }
    }

    .menu-icon {

        vertical-align: inherit;
        &:hover {
            color: white;
        }

        &:after {
            display: none;
        }

        height: 20px;
    }



}

.off-canvas-content {
    box-shadow: none;
}

.off-canvas-scroll-content {
    overflow: auto;
    height: 100%
}

.off-canvas-item--headline {
    font-family: $body-font-family;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 0.13em;
    color: $color-koma-ui-lighter;

}

.off-canvas-item--icon {
    font-size: 32px;
    color: $color-koma-ui-lighter;
    text-align: right;
    margin-top: -.16em;
}

.off-canvas-item {
    font-family: $body-font-family;
    font-size: 12px;
    padding: 16px 16px;
    border-top: 1px dotted $color-koma-ui-dark;

    &.is-section {
        border-top: 1px solid $color-koma-ui-dark;
    }

    &:first-of-type {
        border-bottom: none;
    }

    &:last-of-type {
        padding-bottom: 300px; // scrollpad
    }

    &:hover:not(.disabled) {
        background-color: lighten($color-koma-ui-darken, 2%);
        * {
            color: white;
        }
    }

    &.disabled {
        pointer-events: none;
        * {
            color: lighten($color-koma-ui-darken, 10%);;
        }
    }
}

.off-canvas-header,
.off-canvas-footer {
    font-family: $header-font-family;
    background-color: $offcanvas-background;
    height: 76px;
    border-bottom: 1px solid $color-koma-ui-darken;
    padding-left: 20px;
    padding-right: 20px;
}

.off-canvas-header {
    font-weight: 600;
    font-size: rem-calc(24);
}

.off-canvas-footer {
    position: fixed;
    bottom: 0;
    background-color: $offcanvas-background;

    div:first-of-type {
        border-right: 1px solid $color-koma-ui-darken;
    }

    .fa {
        margin-right: 10px;

    }

    &:before {
        pointer-events: none;
        display: block;
        height: 200px;
        top: -200px;
        width: 100%;
        left: 0;
        content: "";
        background: linear-gradient(180deg, rgba($offcanvas-background, 0),  rgba($offcanvas-background, 1));
        position: absolute;
    }
}

