.m-koma-filter {
    background-color: $color-koma-ui-dark;
    color: white;
    font-family: $body-font-family;

    input, select {
        margin-bottom: 0;
        height: 40px;
    }

}

.m-koma-filter--section-close {
    background-image: url("/template/assets/arrow-down.png");
    background-repeat: no-repeat;
    background-position: center;

    background-size: contain;
    width: 30px;
    height: 30px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    transition: transform 0.2s ease;

    display: block;
    float: right;
}

.m-koma-filter--section {
    border-bottom: 1px solid $color-koma-ui-mid;

    &.is-closed {
        .m-koma-filter--section-close {
            transform: rotate(0deg);
            transition: transform 0.2s ease;
        }

        .m-koma-filter--section-content {
            display: none;
        }
    }
}

.m-koma-filter--section-header {
    padding: 20px 20px;
}

.m-koma-filter--section-content {

    padding: 10px 20px;
    padding-top: 0;
}

.m-koma-filter--section-header {

    font-size: 18px;
    font-weight: 600;
}

.m-koma-filter--label {
    font-size: 18px;
    font-weight: 600;
}

.m-koma-filter--field {
    //border: 1px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.m-koma-filter--input {
    padding: 10px;
}

.m-koma-filter--range-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.m-koma-filter--range-slider {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 100;
}

.m-koma-filter--range-min,
.m-koma-filter--range-max {
    color: black;
    min-width: 50px;
    text-align: center;
    font-size: 16px;
}

.m-koma-filter--cloud {
    label {
        background-color: white;
        color: black;
        margin: 0;
        margin-bottom: 10px;
        margin-right: 20px;

        padding: 0px 8px;
        vertical-align: middle;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;

        &.is-checked {
            background-color: #00d70c;
            color: white;
        }
    }

    input[type="checkbox"] {
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border-radius: 3px;
        border: 1px solid $color-koma-ui-dark;

        position: relative;
        margin: 0;
        vertical-align: text-top;
        box-sizing: content-box;
        width: 16px;
        height: 16px;
        transition: all .3s linear;
        //display: inline-block;

        display: none;
    }

    input[type="checkbox"]:checked {
        background-color: $color-koma-primary;
        background-image: url("/template/assets/checkbox-checked.png");
        background-size: cover;

        &.mm-inverted {
            background-color: transparent;
            background-image: url("/template/assets/checkbox-checked-inverted.png");
            background-size: cover;
        }
    }

    input[type="checkbox"]:focus {
        outline: 0 none;
        box-shadow: none;
    }

}
