.m-schema {

    $color-koma-schema-blue: #4a90e2;
    $icon-distance: 2.6em;

    ol {
        counter-reset: li; /* Initiate a counter */
        margin-left: 0; /* Remove the default left margin */
        padding-left: 0; /* Remove the default left padding */

        font-size: 16px;

    }

    ol > li {
        position: relative; /* Create a positioning context */
        margin: 0 0 8px $icon-distance; /* Give each list item a left margin to make room for the numbers */
        padding: 2px 6px; /* Add some spacing around the content */
        list-style: none; /* Disable the normal item numbering */
        //border-top: 2px solid $color-koma-schema-blue;
        //background: #f6f6f6;

        &:before {
            content: counter(li); /* Use the counter as content */
            counter-increment: li; /* Increment the counter by 1 */
            /* Position and style the number */
            position: absolute;
            top: -2px;
            left: - $icon-distance;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            width: 2em;

            /* Some space between the number and the content in browsers that support
               generated content but not positioning it (Camino 2 is one example) */
            margin-right: 10px;
            padding: 4px;

            //    border-top: 2px solid $color-koma-schema-blue;
            color: #fff;
            background: $color-koma-schema-blue;
            font-weight: bold;
            //font-family: "Helvetica Neue", Arial, sans-serif;
            text-align: center;
            //border-radius: 3px;
        }

    }

    li ol,
    li ul {
        margin-top: 6px;
    }

    ol ol li:last-child {
        margin-bottom: 0;
    }
}
