$m-toolbar-height: 48px;

.m-toolbar {
    background-color: $color-koma-ui-darken;
    border-bottom: 1px solid $color-koma-ui-mid;
    font-size: 14px;
    color: white;
    a {
        text-decoration: none;
        color: $color-koma-ui-mid;
    }

    .bound {
        .column {

            &:first-child {
                padding-left: 0 !important;
            }
            &:last-child {
                padding-right: 0 !important;
            }
        }
    }

}

.m-toolbar--item {
    display: flex;
    max-height: $m-toolbar-height;
    line-height: $m-toolbar-height;
}

.m-toolbar--button {

    min-width: $m-toolbar-height;
    line-height: $m-toolbar-height;
    border-left: 1px solid $color-koma-ui-mid;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
        color: $color-koma-primary;
    }

    &:last-of-type {
        border-right: 1px solid $color-koma-ui-mid;

    }

    &.is-disabled {
        color: $color-koma-ui-dark;
        &:hover {
            color: $color-koma-primary;
        }
    }

    &.mm-filter-button {
        background-image: url("/template/assets/filter-button-bg.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: auto $m-toolbar-height;
        background-position: right center;
        width: 110px;
        padding-right: 20px;
        border: none;
        color: $color-koma-ui-mid;
        margin-right: 16px;
    }
}
