.m-body-copy {

    > * {
        margin-left: calc(8.3% + 20px);
        margin-right: calc(8.3% + 20px);
        margin-top: 0;
        margin-bottom: 0;

        font-size: 16px;

        &:first-child {
            margin-top: 0;
        }
    }

    h2, h3, h4, h5, h6 {
        margin-bottom: 30px;
        margin-top: 2.1em;
        font-weight: 800;
        font-size: 32px;
    }

    // TODO: nadefinovat typografii obsahu
    h1, h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 22px;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 22px;
    }
    h5 {
        font-size: 16px;
        margin-bottom: 22px;
    }
    h6 {
        font-size: 16px;
        margin-bottom: 22px;
    }

    p, ul, ol, img {
        margin-top: 1.4em;
    }

    // TODO: nadefinovat list style, používá se default
    ul, ol {
        & > li {
            margin-left: 24px;
            padding: 0;

            li {
                margin-left: 0px;
            }

            & ul,
            & ol {
                margin-top: 0;
            }
        }
    }

    img {
        max-width: calc(100% - 16.6% - 40px);
    }

    > table,
    > blockquote,
    > figure {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $space;
        margin-top: $space;

        img {
            width: 100%;
            max-width: none;
            margin: 0;
        }

        @media #{$small-only} {
            // @todo: dát sem reálný gutter z gridu
            margin-left: -20px;
            margin-right: -20px;
        }

        @media #{$medium-only} {
            // @todo: dát sem reálný gutter z gridu
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    @media #{$small-only} {
        > table {
            width: calc(100% + 40px);
        }
    }

    @media #{$medium-only} {
        > table {
            width: calc(100% + 40px);
        }
    }

    figure {
        figcaption {
            color: $color-koma-ui-dark;
            padding-top: 0.8em;
            font-size: 14px;
            font-style: italic;

            @media #{$small-only} {
                padding-left: 20px;
                padding-right: 20px;
            }

            @media #{$medium-only} {
                padding-left: 20px;
                padding-right: 20px;
            }

            a {
                color: $color-koma-ui-darken;
                text-decoration: underline;
            }
            strong {
                color: $color-koma-ui-darken;
            }
        }
    }

    table {
        border-top: 2px solid $color-koma-primary;
        border-bottom: 2px solid $color-koma-primary;
        font-size: 16px;

        th,
        td,
        tbody th,
        tbody td {
            padding: 0.4em 0.5em;
            vertical-align: top;
        }

        th,
        tbody th {
            vertical-align: middle;
        }



    }
    > blockquote {
        font-family: Purista;
        font-style: italic;
        padding: 20px 28px;
        color: $color-koma-primary;
        background-color: $color-koma-ui-light;

        font-size: 24px;
        border-left: 5px solid $color-koma-primary;

    }


    // OL override


    $icon-distance: 1.6em;

    ol {
        counter-reset: li; /* Initiate a counter */
        //margin-left: 0; /* Remove the default left margin */
        padding-left: 0; /* Remove the default left padding */

        font-size: 16px;
        font-weight: 400;

    }

    ol > li {
        position: relative; /* Create a positioning context */
        margin: 0 0 4px $icon-distance; /* Give each list item a left margin to make room for the numbers */
        padding: 2px 6px; /* Add some spacing around the content */
        list-style: none; /* Disable the normal item numbering */

        //border-top: 2px solid $color-koma-schema-blue;
        //background: #f6f6f6;

        &:before {
            content: counter(li); /* Use the counter as content */
            counter-increment: li; /* Increment the counter by 1 */
            /* Position and style the number */
            position: absolute;
            //top: -2px;
            left: - $icon-distance;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            width: 24px;

            /* Some space between the number and the content in browsers that support
               generated content but not positioning it (Camino 2 is one example) */
            margin-right: 10px;
            //padding: 2px;

            //    border-top: 2px solid $color-koma-schema-blue;
            color: #fff;
            background: black;
            //font-weight: bold;
            //font-family: "Helvetica Neue", Arial, sans-serif;
            text-align: center;
            border-radius: 50%;
        }

    }

    li ol,
    li ul {
        margin-top: 6px;
    }

    ol ol li:last-child {
        margin-bottom: 0;
    }



}
