.m-koma-filter {
    background-color: $color-koma-ui-dark;
    color: white;
    font-family: $header-font-family;


    input, select {
        margin-bottom: 0;
    }



}

.m-koma-filter--section {
}

.m-koma-filter--section-header,
.m-koma-filter--section-content {
    padding:  20px 20px;
}

.m-koma-filter--section-content {
    padding-bottom: 10px;
}

.m-koma-filter--section-header {
    border-top: 1px solid $color-koma-ui-mid;
    border-bottom: 1px solid $color-koma-ui-mid;
    font-size: 18px;
    font-weight: 600;
}

.m-koma-filter--field {
    //border: 1px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}

