/// my drilldown

$drill-border-color: $color-koma-ui-mid;
$drill-color: white;
$drill-bg-color: $color-koma-ui-dark;
$drill-link-color: black;
$drill-link-hover-color: white;
$drill-font-size: 30px;
$drill-font-family: 'Purista';
$drill-padding: 20px 20px;

.drill-down {
    position: relative;
    height: 100%;
    background-color: $drill-bg-color;
    color: $drill-color;
}

.drill-level {
    background-color: $drill-bg-color;
    color: $drill-color;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.3s ease-out;

    border-top: 1px solid $drill-border-color;

    a {
        display: block;
        width: 100%;
        padding: $drill-padding;

        color: $drill-link-color;
        text-decoration: none;

        &:hover {
            color: $drill-link-hover-color;
        }
    }
}

.drill-hidden {
    transition: all 0.3s ease-out;
    transform: translateX(100%);
}

.drill-history {
}

.drill-next {
    display: none;
    padding: $drill-padding;
    color: $drill-link-color;
    &:hover {
        color: $drill-link-hover-color;
    }
}

.drill-title {
    flex-grow: 5;
    //padding: $drill-padding;
    //cursor: pointer;
}

.drill-next,
.drill-icon {
    min-width: 100px;
    text-align: center;
    border-left: 1px solid $drill-border-color;
    //padding: $drill-padding;
    cursor: pointer;
}

.drill-item {
    border-bottom: 1px solid $drill-border-color;
    display: flex;
    font-size: $drill-font-size;
    font-family: $drill-font-family;

    &.drill-has-childs {
        .drill-next {
            display: block;
        }
    }

}

.drill-hist-button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;

    &:after {
        content: ">";
        display: inline-block;
        margin-left: 10px;
    }

    &:last-of-type {
        &:after {
            display: none;
        }
    }
}
