<footer class="bg-primary c-white">


    {# base footer #}
    <div class="m-section_footer">

        <div class="row m-section_footer-first-line">
            <div class="medium-6 medium-offset-1 columns">
                <div class="logo">
                    <img src="/template/assets/logo-koma-modular-inline-white.svg" alt="">
                </div>
            </div>
            <div class="medium-4 columns text-right">
                <a href="" title="facebook"><i class="fa fa-2x fa-facebook"></i></a>
                <a href="" title="twitter"><i class="fa fa-2x fa-twitter"></i></a>
                <a href="" title="youtoube"><i class="fa fa-2x fa-youtube-play"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 medium-offset-1 columns">
                <div>Katalog technických řešení je aplikace pro účely firmy KOMA Modular.<br/>Právní sdělení / ocharana / copyright.</div>
            </div>
            <div class="medium-4 columns text-right">
                <a href="http://www.koma-modular.cz" title="KOMA Modular">KOMA Modular</a>
            </div>
        </div>
    </div>

    {# copyrights #}
    <div class="bg-primary-dark c-white m-section_copyright">
        <div class="row">
            <div class="small-5 medium-offset-1 columns">
                © KOMA Modular 2016
            </div>
            <div class="small-5 columns text-right">
                <a href="#" title="">developed by -oo-</a>
            </div>
        </div>
    </div>


</footer>
