{# elementy pro modal katalogu #}
{# musí být nalinkován všude kde se má katalog otevírat #}


{#  otevírání pomocí attributu data-open="katalogModal" #}
{# <a data-open="katalogModal">JS Katalog</a>#}

{% set pages = craft.entries.section('katalog') %}

<div class="full reveal" id="katalogModal" data-reveal>
    {# tohle vyžaduje hacknutý Foundation JS file#}
    <nav class="m-katalog mm-link-notunderline">
        <ul class="vertical menu" data-drilldown>


            {% nav page in pages %}
            <li>
                <div class="m-katalog--item">
                    <a class="m-katalog--item-link" href="{{ page.url }}">{{ page.title }}</a>
                    <div class="m-katalog--item-next"><i class="fa fa-angle-right"></i></div>
                    <div class="m-katalog--item-content">
                        <a href="{{ page.url }}" class="extra-link"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                {% ifchildren %}
                <ul class="vertical menu">
                    {% children %}
                </ul>
                {% endifchildren %}
            </li>
            {% endnav %}
        </ul>
    </nav>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
