{# elementy pro modal katalogu #}
{# musí být nalinkován všude kde se má katalog otevírat #}


{#  otevírání pomocí attributu data-open="katalogModal" #}
{# <a data-open="katalogModal">JS Katalog</a>#}

{% set pages = craft.entries.section('katalog') %}

{# html wrapper pro katalog#}
<div class="reveal full drill-reveal" id="katalogModal" data-reveal>
    <div class="drill-wrapper">
        <div id="drill-down" class="drill-down">
            <div class="drill-controls">
                <div class="drill-back-button" drill-back="#drill-down">
                    <span class="drill-back-arrow"></span><span class="button">Back</span></div>
                <div class="drill-history"></div>
            </div>
        </div>

    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<script>

    {# build drilldown js inline config by twig #}
    /* ********************************************* */
    var drillDownData = [];
    drillDownData = [
        {% nav page in pages %}

        {% set hasBody = 0 %}
        {% if(page.body) %}
        {% set hasBody = 1 %}
        {% endif %}

        {
            title: '{{ page.title }}',
            url: '{{ page.url }}',
            filterUrl: '/polozky',
            hasContent: {{ hasBody }},
            childs: [
                {% ifchildren %}
                {% children %}
                {% endifchildren %}
            ]
        },
        {% endnav %}
    ];
    /* ********************************************* */
    {# drilldown config end #}

    $(function () {

        var opt = {
            selector: '#drill-down',
            rootLevelName: 'Katalog'
        };

        var drill = new DrillDown(drillDownData, opt);


    });


</script>
