{# elementy pro modal katalogu #}
{# musí být nalinkován všude kde se má katalog otevírat #}

{# načtení dat katalogu #}
{% set pages = craft.entries.section('katalog') %}


{# html wrapper pro katalog#}
{#
<div class="drill-reveal" id="katalogModal">
    <div class="drill-wrapper">
        <div id="drill-down" class="drill-down">
            <div class="drill-controls">
                <div class="drill-back-button" drill-back="#drill-down">
                    <span class="drill-back-arrow"></span><span class="button">{{"Zpět"|t}}</span></div>
                <div class="drill-history"></div>
            </div>
        </div>
        <button class="close-button close-katalog" aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>
#}
{# konec wrapperu pro katalog #}


<script>

    {# build drilldown js inline config by twig #}
    /* ********************************************* */
    var drillDownData = [];
    drillDownData = [
        {% nav page in pages %}

        {% set hasBody = 0 %}
        {% if(page.body) %}
        {% set hasBody = 1 %}
        {% endif %}

        {
            title: '{{ page.title }}',
            url: '{{ page.url }}',
            filterUrl: '/polozky',
            hasContent: {{ hasBody }},
            childs: [
                {% ifchildren %}
                {% children %}
                {% endifchildren %}
            ]
        },
        {% endnav %}
    ];
    /* ********************************************* */
    {# drilldown config end #}

    $(function () {

        var opt = {
            selector: '#drill-down',
            rootLevelName: 'Katalog'
        };

        var drill = new DrillDown(drillDownData, opt);


        // otevirani modalu katalogu pres ID v menu
        $(".katalogmenu").on('click', function (e) {
            e.preventDefault();
            $('body').addClass('scroll-lock');
            $('.drill-reveal').height($(window).innerHeight()).fadeIn(100);

        });

        $(".close-katalog").each(function () {
            var el = $(this);
            el.on('click', function (e) {
                e.preventDefault();
                $('.drill-reveal').fadeOut(100);
                $('body').removeClass('scroll-lock');
            });
        });

    });


</script>
