<div id="widemenu" class="top-bar">
    {# left #}
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-square has-border text-center"><button type="button" data-open="offCanvasLeft">
                    <img src="/template/assets/menu-burger.svg" alt=""></button></li>
            <li class="menu-text has-border"><img src="/template/assets/logo-koma.svg" alt=""></li>
            <li class="menu-text"><a href=""><i class="fa fa-print"></i>Katalog</a></li>
            <li class="menu-text"><a href=""><i class="fa fa-print"></i>Položky</a></li>
            <li class="menu-text"><a href=""><i class="fa fa-print"></i>Vyhledat</a></li>
        </ul>
    </div>
    {# right#}
    <div class="top-bar-right">
        <ul class="menu">
            <li class="menu-square has-border text-center"><i class="fa fa-2x fa-user"></i></li>
        </ul>
    </div>
</div>
