{#
 # Hledání + výsledky hledání
 # --------------------------
 #
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

{% if craft.request.getParam('q') == "" %}

{# Nové hledání #}
    <article>
        <header class="mm-mgr-bottom mm-pad-top ">
            <div class="row align-bottom">

                <div class="columns small-8">
                    <h1 class="f-xxxl">Vyhledávání</h1>
                </div>

            </div>
        </header>
        {% include "/_partials/forms/_search_form.twig" %}
        {# TODO: Michale, šlo by tady pod tím formulářm udělat nějak jednoduše stejně místa, jako je nad ním (cca)? #}
    </article>

{% else %}

{# hledání již proběhlo #}
    {% set query = craft.request.getParam('q') %}
    {% set entries = craft.entries.search(query).order('score') %}

    <article>
        <header class="mm-mgr-bottom mm-pad-top ">
            <div class="row align-bottom">

                <div class="columns small-12">
                    <h1 class="f-xxxl">Výsledky hledání</h1>
                </div>

            </div>
        </header>

        <div class="row">

                {% if entries|length > 0 %}
{# hledání má výsledky #}
                    <div class="columns small-6">
                        <p>{{ entries|length }} nalezených záznamů:</p>
                    </div>

                    <div class="columns small-6 text-right">
                        <a href="/vyhledavani" title="Zkusit hledat něco jiného" alt="Nové hledání">Nové hledání</a>
                    </div>

                    {# TODO: Michal, prosím mrkni na to, zda takto můžu vychrlit výsledky hledání, vyšel jsem z karet položek… díky #}
                    <div class="small-12 columns mm-pad-bottom">
                        {% for entry in entries %}
                            {% include "/_partials/common/_search-card.twig" %}
                            {# <li><a href="{{ entry.url }}">{{ entry.title }}</a></li> #}
                        {% endfor %}
                    </div>

                    <div class="columns small-12 text-right mm-pad-bottom">
                        <a href="/vyhledavani" title="Zkusit hledat něco jiného" alt="Nové hledání">Nové hledání</a>
                    </div>

                {% else %}
{# hledání nemá výsledky #}
                    <div class="small-12 columns mm-pad-bottom">
                        <p>Hledání “{{ query }}” nemá žádné výsledky. Zkuste to nějak jinak.</p>
                        {% include "/_partials/forms/_search_form.twig" %}
                    </div>

                {% endif %}

        </div>

        {% if entries|length > 0 %}
            {# nahoru #}
            {% include "/_partials/base/_nav-top.twig" %}
        {% endif %}

    </article>

{% endif %}

    {% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
