{#
 # Vyhledávací formulář
 # -------------------
 #
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}


    <article>
        {# {% include "/_partials/obsah/_obsah-textpage-header.twig" %} #}

        <div class="row mm-pad-bottom">

            <form action="{{ url('vyhledavani') }}">
                <input type="search" name="q" placeholder="Search">
                <input type="submit" value="Go">
            </form>

        </div>

    </article>

    {% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
