{#
 # Oznameni detail
 # -------------------
 #
 #}

{% extends "/_partials/layout/_base.twig" %}

{# TODO: detail oznámení #}

{% block content %}

	{% include '/_partials/base/_top-breadcrumbs.twig' %}

	<article>
		<h1>{{ entry.title }}{% if entry.isEditable() %}
				<a href="{{ entry.cpEditUrl }}" title="Editovat stránku" alt="Editace stránky"><i class="fa f-xl fa-pencil"></i></a>
		{% endif %}</h1>
		<p>Publikováno dne {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.body }}
	</article>

	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
