{#
 # Oznameni detail
 # -------------------
 #
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

	{% include '/_partials/base/_top-breadcrumbs.twig' %}

	<article>
		{% include "/_partials/obsah/_obsah-textpage-header.twig" %}

		<div class="row">

            {% include "/_partials/obsah/_obsah-textpage-body.twig" with { "type":"oznameni" } %}

            {# prava strana pouze pro large#}
            <div class="columns large-3  hide-for-small-only hide-for-medium-only">
				{# TODO sjednotit pravou stranu a související oznámení, dokumentace a testpages #}
                {# prava strana obsah #}
                {% import "_partials/macros/_macros.twig" as macros %}
                {# dát do samostatné podšablony #}
                <div class="m-dalsi  bg-grey-light">
                    <h2 class="f-xl f-800 mm-pad-bottom-half">Související články:</h2>
					{{ macros.listRelated( craft.entries.section('oznameni').limit(10) ) }}
                </div>
                {# prava strana obsah - konec#}

            </div>
        </div>

	</article>

	<div class="m-section bg-grey-light mm-mgr-top mm-mgr-bottom-tiny">
        <div class="row">
            <div class="columns small-7 small-offset-1">
                <div class="m-dalsi">
                    <h2 class="f-xl f-800 mm-pad-bottom-half">Související články:</h2>
					{{ macros.listRelated( craft.entries.section('oznameni').limit(10) ) }}
                </div>

            </div>
        </div>
    </div>
	{# TODO: opodmínkovat navigace, je-l vůbec potřeba #}
	<div class="bg-grey-light mm-pad-top mm-pad-bottom">
		{% include '/_partials/common/_prevnext-nav.twig' with { "navPosition" : "bottom" } %}
	</div>

	{% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
