{#
 # Oznameni listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}
    <article>
        <header class="mm-mgr-bottom">
            <div class="row align-bottom">

                <div class="columns small-8">
                    <h1 class="xxl">Oznámení</h1>
                </div>

            </div>
        </header>
    </article>

    {% include "/_partials/obsah/_vypis-oznameni.twig" %}

    {% include "/_partials/base/_nav-top.twig" %}

    {# TODO: napojit paginaci #}
    {# paginace další předchozí #}
    {# v sub šabloně už to je, ta ale neumí stránkování… #}
    <div class="bg-grey-light mm-pad-top mm-pad-bottom">
        <nav class="row mm-inverted-link-colors mm-link-notunderline">
            <div class="columns small-4 text-left f-800 f-l">
                <a href=""><i class="fa fa-arrow-left"></i> Starší</a>
            </div>

            <div class="columns small-4 text-center f-800 f-l">
                5 / 8
            </div>

            <div class="columns small-4 text-right f-800 f-l">
                <a href=""><i class="fa fa-arrow-right"></i> Novější</a>
            </div>
        </nav>
    </div>

{% endblock %}
