{#
 # Oznameni listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}

{% set title = "Oznámení" %}

{# TODO: markup výpisu iznámení #}

{% block content %}
    <h1>Oznámení</h1>

    {% for entry in craft.entries.section('oznameni').find() %}
        <article>
            <div class="row">
                <div class="column small-3">
                    {{ entry.postDate.format('F d, Y') }}
                </div>

                <div class="">

                <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
                </div>
            </div>
        </article>

    {% endfor %}
{% endblock %}
