{#
 # Oznameni listing
 # ----------------
 #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}
    <article class="">
        <header class="mm-mgr-bottom mm-pad-top ">
            <div class="row align-bottom">

                <div class="columns small-8">
                    <h1 class="f-xxxl">Oznámení</h1>
                </div>

            </div>
        </header>
    </article>

    {% if currentUser.isInGroup("users") %}
        {% paginate craft.entries.section('oznameni').search('forEditors:unchecked').limit(25) as pageInfo, pageEntries %}
    {% else %}
        {% paginate craft.entries.section('oznameni').limit(25) as pageInfo, pageEntries %}
    {% endif %}

    {% include "/_partials/obsah/_vypis-oznameni.twig" %}

    {% include "/_partials/base/_nav-top.twig" %}

    {# paginace #}
    {% set prev = "" %}
    {% set prevtitle = "Předchozí strana" %}
    {% set up = "/oznameni" %}
    {% set uptitle = "Archiv oznámení" %}
    {% set parentMessage = pageInfo.currentPage ~ " / " ~ pageInfo.totalPages %}
    {% set uptype = "paging" %}
    {% set next = "" %}
    {% set nexttitle = "Další strana" %}
    {% set souvisejici = craft.entries.section('oznameni') %}

    {% set varsbottom = {
        "navPosition": "bottom",
        "prevlink": pageInfo.prevUrl,
        "prevtitle": prevtitle,
        "uplink": up,
        "uptitle": uptitle,
        "parentMessage": parentMessage,
        "parentType": uptype,
        "nextlink": pageInfo.nextUrl,
        "nexttitle": nexttitle
    } %}

    {% if pageInfo.prevUrl or pageInfo.nextUrl %}
    <div class="bg-grey-light mm-pad-top mm-pad-bottom mm-mgr-bottom-tiny">
        {% include '/_partials/common/_prevnext-nav.twig' with varsbottom %}
    </div>
    {% endif %}

    {# upozornění #}
    {% include "/_partials/obsah/_obsah-upozorneni.twig" %}

{% endblock %}
