@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista-bold/Purista_Bold.eot');
    src: url('/template/assets/komafonts/purista-bold/Purista_Bold.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista-bold/Purista_Bold.woff') format('woff'),
    url('/template/assets/komafonts/purista-bold/Purista_Bold.svg') format('svg'),
    local('☺');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista-light/Purista_Light.eot');
    src: url('/template/assets/komafonts/purista-light/Purista_Light.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista-light/Purista_Light.woff') format('woff'),
    url('/template/assets/komafonts/purista-light/Purista_Light.svg') format('svg'),
    local('☺');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista-medium/Purista_Medium.eot');
    src: url('/template/assets/komafonts/purista-medium/Purista_Medium.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista-medium/Purista_Medium.woff') format('woff'),
    url('/template/assets/komafonts/purista-medium/Purista_Medium.svg') format('svg'),
    local('☺');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista-semibold/Purista_Semibold.eot');
    src: url('/template/assets/komafonts/purista-semibold/Purista_Semibold.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista-semibold/Purista_Semibold.woff') format('woff'),
    url('/template/assets/komafonts/purista-semibold/Purista_Semibold.svg') format('svg'),
    local('☺');
    font-weight: 600;
    font-style: normal;
}
