@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista_bold-webfont.eot');
    src: url('/template/assets/komafonts/purista_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista_bold-webfont.woff') format('woff'),
    url('/template/assets/komafonts/purista_bold-webfont.svg') format('svg'),
    local('☺');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista_light-webfont.eot');
    src: url('/template/assets/komafonts/purista_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista_light-webfont.woff') format('woff'),
    url('/template/assets/komafonts/purista_light-webfont.svg') format('svg'),
    local('☺');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista_medium-webfont.eot');
    src: url('/template/assets/komafonts/purista_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista_medium-webfont.woff') format('woff'),
    url('/template/assets/komafonts/purista_medium-webfont.svg') format('svg'),
    local('☺');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Purista';
    src: url('/template/assets/komafonts/purista_semibold-webfont.eot');
    src: url('/template/assets/komafonts/purista_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/template/assets/komafonts/purista_semibold-webfont.woff') format('woff'),
    url('/template/assets/komafonts/purista_semibold-webfont.svg') format('svg'),
    local('☺');
    font-weight: 600;
    font-style: normal;
}
