<section class="m-section">
    <article>
        <header>
            <div class="row align-center">
                <div class="medium-10 column text-center">
                    <h2 class="s-hollow f-xl">Žádost o přístup do katalogu</h2>
                </div>
            </div>
        </header>

        {# form start #}

        <form class="form-validation">
            {# jmeno prijmeni #}
            <div class="row align-center">
                <div class="medium-10 columns">
                    <label>Jméno a příjmení</label>
                </div>
                <div class="medium-5 columns">
                    <input type="text" placeholder="Jméno" required>
                </div>
                <div class="medium-5 columns">
                    <input type="text" placeholder="Příjmení" required>
                </div>
            </div>

            {# kontaktní údaje #}
            <div class="row align-center">
                <div class="medium-10 columns">
                    <label>Kolntaktní údaje</label>
                </div>
                <div class="medium-5 columns">
                    <input type="tel" placeholder="Telefon" required>
                </div>
                <div class="medium-5 columns">
                    <input type="email" placeholder="email@domain.cz" required>
                </div>
            </div>

            {# firma #}
            <div class="row align-center">
                <div class="medium-10 columns">
                    <label>Firma</label>
                </div>
                <div class="medium-10 columns">
                    <input type="tel" placeholder="Název firmy" required>
                </div>
            </div>

            {# poznamky #}
            <div class="row align-center">
                <div class="medium-10 columns">
                    <label>Poznámky k žádosti</label>
                </div>
                <div class="medium-10 columns">
                    <textarea required placeholder="Poznámka k žádosi"></textarea>
                </div>
            </div>

            {# souhlas #}
            <div class="row align-center align-middle mm-pad-bottom">
                <div class="small-1 large-1 columns text-right">
                    <input type="checkbox" name="agree" value="agree" id="conditions">
                </div>
                <div class="small-9 large-5 columns">
                    <label class="f-xxs c-grey-mid" >Odesláním žádosti souhlasím s podmínkami firmy KOMA Modular, s. r.o. a potvrzuji, že jsem si přečel(a) <a href="" title="">podmínky užívání katalogu</a>.</label>
                </div>
            </div>

            {# submit #}
            <div class="row align-center">
                <div class="small-10 columns text-center">
                    <button class="large button">Odeslat žádost <i class="fa fa-paper-plane"></i></button>
                </div>
            </div>

            <script>

            </script>


        </form>

        {# form end #}

    </article>

</section>
