{# TODO: Michale, prosím - vyhledávací formulář – hledací políčko je nižší než buttonek hledat. Ideálně ať mají oba 50px výšku, rozhodně stejně. Pokud bude jednodušší zachovat tu 48px, budiž.
Pokud jsem to zamarkupoval blbě, oprav mne, prosím #}

<div class="row mm-pad-top mm-pad-bottom">
    <form action="{{ url('vyhledavani') }}" class="form-validation small-11 columns">
        <div class="row">
            <div class="small-10 columns">
                <input type="search" name="q" placeholder="Hledaný výraz">
            </div>
            <div class="small-2 columns">
                <input type="submit" class="large button" value="Vyhledat">
            </div>
        </div>
    </form>
</div>
