<div class="row mm-pad-top mm-pad-bottom">
    <form action="{{ url('vyhledavani') }}" class="form-validation small-11 columns">
        <div class="row">
            <div class="small-10 columns">
                <input type="search" name="q" placeholder="Hledaný výraz">
            </div>
            <div class="small-2 columns">
                <input type="submit" class="large button" value="Vyhledat">
            </div>
        </div>
    </form>
</div>
