{# Homepage #}

{% extends "/_partials/layout/_base.twig" %}

{% block content %}

    {# {% include '/_partials/base/_top-breadcrumbs.twig' %} #}

    {% if currentUser %}
        <article>
            <h1>Vítejte v katalogu KOMA</h1>
            {% include "/_partials/obsah/_obsah-upozorneni.twig" %}
        </article>
    {% else %}
        {% include "/_partials/headers/_header_pripravujeme.twig" %}
        {% include "/_partials/common/_section_info_centered_articles.twig" %}
    {% endif %}

{% endblock content %}
